[2021-09-27 15:50] tumido commented on #952
After discussions with @HumairAK we've found out this is a glitch, deleting those resources ArgoCD recreated them just fine.

[2021-09-27 15:50] #952 closed

[2021-09-28 20:39] 4n4nd commented on #909
| Application     | Service/PodMonitor | Alerts |
| ----------- | ----------- | ----------- |
| Grafana               | Done  |               |
| Kafka                   | Done  |               |
| ODH Operator     | Done  |               |
| Argo                     | Done  |               |
| Jupyterhub           | Done  |               |

[2021-09-28 20:39] 4n4nd commented on #909
Related https://github.com/operate-first/apps/pull/1069

[2021-09-29 12:18] tumido commented on #909
@4n4nd do we still need to deploy prometheus operator? We should avoid it as much as we can, since it's unsupported and may conflict with openshift-monitoring.

[2021-09-29 12:39] tumido commented on #791
Resolved via https://github.com/operate-first/apps/pull/842

[2021-09-29 12:39] #791 closed

[2021-09-29 14:32] 4n4nd opened #1073 "Migrate alertreceiver to smaug from zero cluster"
Related PR by @Gregory-Pereira : https://github.com/operate-first/apps/pull/998

[2021-09-30 14:19] 4n4nd opened #1085 "Two different installation methods being used for Kafka Strimzi Operator"
1. [Rick] Directly applying [the subscription for the operator](https://github.com/operate-first/apps/blob/master/cluster-scope/base/operators.coreos.com/subscriptions/strimzi/subscription.yaml) and creating a [separate app for kafka](https://github.com/operate-first/apps/tree/master/kafka)
2. [Smaug] Using a [Kfdef](https://github.com/operate-first/apps/blob/master/kfdefs/base/kafka/kfdef.yaml) a

[2021-09-30 23:40] tumido commented on #263
Resolved long time ago

[2021-09-30 23:40] #263 closed

[2021-10-01 15:30] isabelizimm opened #1105 "no resource limit in `seldon-opf`"
When deploying a model in `opf-seldon` namespace, I'm getting a replica failure of `pod is forbidden: failed quota: medium: must specify limits.cpu,limits.memory,requests.cpu,requests.memory`

It looks like we need to add a limitrange to this namespace.

[2021-10-01 15:44] #1105 closed

[2021-10-04 16:00] Gregory-Pereira commented on #1073
Noted, pr available here: https://github.com/operate-first/apps/pull/1115.

[2021-10-05 10:06] tumido opened #1119 "Fix up cert manager for different providers"
Related: https://github.com/operate-first/SRE/issues/374

Right now we follow the same overlay pattern for cert manager as we have in the rest of the apps. This is not sustainable neither it works properly, because we include `smaug` to the same environment as `balrog` despite them being on different networks.

That is the root cause of certs not working on `balrog`, because it tries to get a cert

[2021-10-05 11:16] tumido commented on #1119
/priority critical-urgent
/kind feature
/kind experience

[2021-10-08 11:15] tumido opened #1142 "Add missing limitranges to all namespaces with quota"
If a namespace has a resource quota while it doesn't have a limit range may cause issues if a pod has no specific resource requests/limits. In such case the pod tries to default to the default limit range. And since there's no limit range, there's no value to be compared against the resource quota. As a result the pod fails to schedule.

Please check on all namespaces in `cluster-scope/base/core/n

[2021-10-11 17:36] sesheta commented on #43
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-12 13:21] tumido commented on #283
I think this can be marked as resolved. Pull secrets are tracked in cluster-scope overlays and provider creds are in ACM annotated secrets.

[2021-10-12 20:38] sesheta commented on #394
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-14 03:00] sesheta commented on #502
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-14 09:00] sesheta commented on #545
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-14 12:00] sesheta commented on #571
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-14 12:59] HumairAK commented on #466
I don't think we're moving to `odh-*` namespaces anytime soon, I actually think there might be some benefit still to having `opf-*` namespaces, to differentiate what _we_ as the admin team manage vs regular users. Anyways I think the current state is fine, going to close -- if someone disagrees please re-open.

[2021-10-14 12:59] #466 closed

[2021-10-14 15:06] HumairAK commented on #603
we do use server names now

[2021-10-14 15:06] #603 closed

[2021-10-15 03:00] sesheta commented on #649
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-15 12:00] sesheta commented on #420
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-15 18:01] sesheta commented on #792
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-15 21:01] sesheta commented on #822
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 12:01] sesheta commented on #817
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 18:01] sesheta commented on #847
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-18 16:14] #1142 closed, assigned to nobody

[2021-10-20 18:38] 4n4nd opened #1210 "Set up cluster logs collection/aggregation"
- [x] Deploy Loki in smaug cluster (https://github.com/operate-first/apps/pull/1285)
- [x] Set up Cluster Log Forwarding to Smaug Kafka in Smaug Cluster (https://github.com/operate-first/apps/pull/1235)
- [x] Set up Cluster Log Forwarding to Smaug Kafka in Rick Cluster (https://github.com/operate-first/apps/pull/1299)
- [x] Set up Cluster Log Forwarding to Smaug Kafka in Infra Cluster (https://git

[2021-10-20 18:39] 4n4nd commented on #1210
/priority important-longterm
/kind feature

[2021-11-03 19:34] skanthed opened #1279 "Need access for curator team on curator cluster"
Earlier we had cluster-admin access on the curator cluster. After updating to a newer version and solving OAuthServerConfig degraded issue in this PR - https://github.com/operate-first/apps/commit/0bdc9bdddad5eef2bc58a8d917ad486561489c80  we lost our access.

Need access again!

[2021-11-03 19:37] HumairAK commented on #1279
Cluster admin file for curator is here: https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/curator/groups/cluster-admins.yaml

Anyone in this group has cluster admin to `curator` cluster. Can you make a PR?

[2021-11-08 15:11] 4n4nd opened #1295 "Set up a cluster login audit logs dashboard"
This will be used to see failed login attempts and potentially create alerts.

Related https://github.com/operate-first/apps/issues/1210

[2021-11-08 15:43] HumairAK commented on #502
/remove-lifecycle stale

[2021-11-08 15:46] jnpacker commented on #502
I would like to help collaborate in this space, as ApplicationSets have a CustomResourceDefinition Generator that will work with ACM placement rules.  It adds additional capabilities
* Labels to select clusters
* Resource utilization
* Taints/tolerations for clusters
* Large set of clusters, but only choose a subset of clusters, as the subset clusters change, adjust within the larger set of cluste

[2021-11-08 22:08] schwesig opened #1298 "intro.md | "onboarding to a cluster" | Link to URL is not working"
On
https://github.com/operate-first/apps/blob/master/docs/about/intro.md
the link
https://www.operate-first.cloud/users/support/docs/onboarding_to_cluster.md
leads to a 404 error page.

Assumed ToDos
- [ ] find correct link or create a new page
- [ ] correct it in intro.md (PR?!)

[2021-11-09 10:07] tumido commented on #420
Issue seems to be unlikely to cause troubles so far... Discussions happening with ACM on how to prevent it. Nothing should/can be done on our end at this point.

[2021-11-09 10:07] #420 closed

[2021-11-09 10:08] tumido commented on #597
Stale. Closing.

[2021-11-09 10:08] #597 closed

[2021-11-09 10:09] tumido commented on #649
@operate-first/odh ptal

https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/opendatahub-operator/services

[2021-11-09 10:10] tumido commented on #649
/unassign @tumido

[2021-11-09 10:10] tumido commented on #600
Stale, can be closed now.

[2021-11-09 10:10] #600 closed

[2021-11-09 10:11] tumido commented on #571
Stale, closing. Probably not intended workflow anymore. Advise users to use upstream docs for dev setup.

[2021-11-09 10:11] #571 closed

[2021-11-09 10:12] tumido commented on #394
Seems like automatic install plans is the way to go for now... so far no troubles were caused by this. I think we can close this issue now.

[2021-11-09 10:12] #394 closed

[2021-11-09 10:13] tumido commented on #287
Stale, closing

[2021-11-09 10:13] #287 closed

[2021-11-09 10:14] tumido commented on #209
/remove-lifecycle stale

See https://github.com/operate-first/workshop-apps/blob/main/.pre-commit-config.yaml for pre-commit checks via OPA/conftest.

[2021-11-09 10:15] tumido commented on #193
/remove-lifecycle stale

/assign @4n4nd

@4n4nd can you please comment on this and either close or define some acceptance criteria for this issue, please?

[2021-11-09 10:17] tumido commented on #39
/unassign @tumido

[2021-11-09 10:17] tumido commented on #47
/unassign @tumido

[2021-11-09 10:18] tumido commented on #43
/unassign @tumido

Issue became even more relevant, since we have no resources to maintain our fork.

 /remove-lifecycle stale

[2021-11-09 10:18] tumido commented on #601
/unassign @tumido

[2021-11-09 18:31] 4n4nd opened #1301 "Kafka/Zookeeper pods being OOMkilled"
This is because by default no limit ranges are specified in the kafka pods that are created by the strimzi operator.

[2021-11-09 20:30] #1301 closed

[2021-11-10 15:12] sesheta commented on #803
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-10 21:01] HumairAK commented on #803
seems like the pr was merged @4n4nd do we still need this issue?

[2021-11-10 21:11] sesheta commented on #44
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 21:11] sesheta commented on #18
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-11 00:10] sesheta commented on #100
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-11 09:10] sesheta commented on #305
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-12 03:11] sesheta commented on #430
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-12 20:16] 4n4nd opened #1317 "Set up a Prometheus Anomaly Detector Demo on Smaug"
set up an instance of  https://github.com/AICoE/prometheus-anomaly-detector on moc/smaug so it can be demoed easily.
Tasks:

- [ ] Deploy PAD for 1 or 2 metrics
- [x] Set up a grafana dashboard (https://github.com/operate-first/apps/pull/1335)
- [ ] Add a jupyterbook to PAD repo on how to access this PAD demo

[2021-11-13 09:11] sesheta commented on #545
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-13 15:11] sesheta commented on #605
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-13 18:11] sesheta commented on #606
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 18:12] sesheta commented on #792
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 18:12] sesheta commented on #762
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 18:12] sesheta commented on #793
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 09:12] sesheta commented on #266
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 09:22] 4n4nd commented on #266
/remove-lifecycle rotten

[2021-11-15 12:12] sesheta commented on #817
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 14:04] HumairAK commented on #430
/remove-lifecycle rotten

[2021-11-15 14:08] HumairAK commented on #792
/remove-lifecycle rotten

[2021-11-15 14:09] HumairAK commented on #793
/remove-lifecycle rotten

[2021-11-15 15:14] sesheta commented on #681
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-15 18:12] sesheta commented on #782
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 18:12] sesheta commented on #847
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 20:10] screeley44 opened #1321 "Update ACM to 2.4"
Should we update ACM to GA'd 2.4? this will also tie into our VolSync as a service idea? VolSync is tech preview in 2.4

see https://github.com/operate-first/support/issues/386

cc @tumido @HumairAK

Let me know and I'll submit a PR to update the channel

[2021-11-15 20:26] HumairAK commented on #1321
@screeley44 sure, we were actually discussing this recently as well. I was thinking next week if another ops member will be available @larsks @4n4nd maybe?

Anyways we can get the pr going, you can follow this example: https://github.com/operate-first/apps/pull/1001/files

[2021-11-15 20:36] larsks commented on #1321
I will be around for the first few days next week, but I will be off Thursday and Friday.

[2021-11-16 13:35] HumairAK commented on #1321
Let's do Monday next week then.

[2021-11-16 15:43] 4n4nd commented on #847
This can be closed. Loki was redeployed in: https://github.com/operate-first/apps/pull/1285

[2021-11-16 15:43] #847 closed

[2021-11-16 16:02] 4n4nd opened #1327 "Deploy Thanos on MOC/Smaug"
We need an instance of Thanos where we can collect metrics from multiple clusters that we host.
This will also be a single source for all cluster metrics.
Tasks:

- [x] Deploy Thanos Receive (Component to receive metrics from cluster Prometheus instances and storing to object storage) (https://github.com/operate-first/apps/pull/1333)
- [x] Deploy Thanos Query and Query Frontend (Component to enabl

[2021-11-19 17:44] screeley44 commented on #1321
@HumairAK @larsks - PR #1345 ready for Monday

[2021-11-22 15:01] famartinrh opened #1349 "Apicurio argocd application is not working after several fixes"
Hi,

I tried to fix the Apicurio argocd application, because it has not been deployed since the new migration to this new repo and new clusters...

I spotted various issues that were fixed in PRs #1320 #1324 #1343 but still Apicurio argocd application is not synced.

Could you help me troubleshoot the problem here?

Thank you

[2021-11-22 19:23] HumairAK commented on #1321
![image](https://user-images.githubusercontent.com/10904967/142922444-c88d8212-c8e9-4cdb-af2f-b6c8a48f8cc5.png)

<details>
    <summary> status from mch resource </summary>

[code]

</details>

[2021-11-22 19:30] #1321 closed

[2021-11-23 08:43] famartinrh commented on #1349
https://github.com/operate-first/apps/pull/1351

[2021-11-23 14:26] 4n4nd opened #1352 "Pods being evicted in Nodes `oct-03-03-compute` and `oct-03-09-compute` on Smaug cluster"
Evicted pod statuses:
[code]

[code]

[2021-11-23 14:29] HumairAK commented on #1352
<details>

<summary> All evicted pods </summary>

[code]

</details>

[2021-11-23 14:56] larsks commented on #1352
Prometheus is writing metrics to `emptyDir` volumes. The metrics database is about 300GB, which is most of the available space on the nodes. The solution is to configure prometheus to use a CSI volume instead. This is documented in https://docs.openshift.com/container-platform/4.8/monitoring/configuring-the-monitoring-stack.html#configuring-persistent-storage.

[2021-11-23 15:02] larsks commented on #1352
We should also [make sure there is an alert for this situation](https://github.com/operate-first/SRE/issues/428).

[2021-11-23 16:13] 4n4nd opened #1355 "openshift-monitoring prometheus instance cannot access resources in `openshift-logging` namespace"
Prometheus Pod logs:

[code]

[2021-11-23 18:46] 4n4nd opened #1357 "Set up Oauth proxies for access to Thanos and Loki"
- [x] Deploy Oauth Proxy for Thanos Receive (To receive metrics using remote-write) (https://github.com/operate-first/apps/pull/1363)
- [x] Deploy Oauth Proxy for Thanos Query Frontend (To query metrics using the prom api) (https://github.com/operate-first/apps/pull/1363)
- [ ] Deploy Oauth Proxy for Loki Query Frontend (To query logs)
- [ ] Deploy Oauth Proxy for Loki distributor (To push logs in

[2021-11-24 13:14] 4n4nd commented on #1352
This issue seems to have been resolved after a PVC was attached to prometheus pods

[2021-11-24 13:14] #1352 closed

[2021-11-24 13:16] 4n4nd opened #1361 "Add documentation on how to access Prometheus metrics"
- [x] Add docs on how to request for access (https://github.com/operate-first/apps/pull/1363)
- [ ] Add docs on the available query endpoints

[2021-11-24 13:48] HumairAK commented on #1349
@famartinrh is there more assistance needed here, or is this issue now resolved?

[2021-11-24 15:06] famartinrh commented on #1349
it's fixed now, thanks!

[2021-11-24 15:06] #1349 closed

[2021-11-24 21:16] sesheta commented on #855
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-26 16:03] schwesig opened #1368 "youtube video mentions non exisiting link on webpage"
## What happens
1. Go to https://aicoe-aiops.github.io/data-science-workflows/docs/getting-started.html
2. Click on [video tutorial][videotutorial] under section Develop on Operate First Jupyterhub
3. At minute [0:31][video0032] the YouTube mentions a link **_User_**, that doesn't exist (anymore?)

## What was expected
The video shows the right/current webpage.

## Quickfix
- [ ] Add a link or exp

[2021-11-26 16:06] schwesig commented on #1368
https://aicoe-aiops.github.io/data-science-workflows/docs/getting-started.html

Link "JupyterHub instance" under
"Access the public JupyterHub instance on the Massachusetts Open Cloud (MOC) by selecting moc-sso and then signing in with your Google Account"
leads to [link][jupyterhubinstance]
is not working

- [ ] change zero to smaug environment

[jupyterhubinstance]: https://oauth-openshift.apps.

[2021-11-26 21:05] HumairAK opened #1371 "ACM Infra gitopscluster out of sync"
My guess is due to the acm upgrade introduced in https://github.com/operate-first/apps/pull/1345

Resulted in an update to the gitopscluster resource to `v1beta1`:

![image](https://user-images.githubusercontent.com/10904967/143646848-f7282f53-f4c7-4409-b503-bcd48782245c.png)

Not sure if this is mentioned in the release notes, we should verify so as not to miss it next time.

[2021-11-29 13:44] HumairAK commented on #1371
This was mentioned in the release notes:

https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.4/html/release_notes/red-hat-advanced-cluster-management-for-kubernetes-release-notes#openshift-container-platform-cluster-upgrade-failed-status

The deprecation/removal information is found here, we should look to the release notes/deprecation & removal sect

[2021-11-29 14:50] #1371 closed

[2021-11-29 19:59] schwesig opened #1382 "grafana/README.md | documentation needs a little more clarification"
- https://github.com/operate-first/apps/blob/master/docs/content/grafana/
  - [README.md][readme]
  - [add_grafana_dashboard.md][add]
  - [map_groups_to_roles.md][groups2roles]

### Description
Even if all the links and information are there, they can get a little lost in "noise" of technical details.

### Ideas
1. Linking the Links :-) | Talking with @HumairAK brought up: sometimes the reason for

[2021-11-30 15:01] HumairAK opened #1388 "OpenShift Cluster upgrade 4.8.23"
Hello Operate First users,

We are planning on an upgrade to `Smaug` cluster, from `4.8.4` to `4.8.23`. The upgrade will take place on Tuesady, December 7th. During this period pods will be restarted and services may experience downtime.

This upgrade is in preparation for an upgrade to OCP 4.9.8, which will follow after this update at a later date.

[2021-12-01 08:34] schwesig commented on #1382
/assign @HumairAK

[2021-12-01 20:28] 4n4nd opened #1396 "Add grafana dashboards for Prometheus"
We need grafana dashboards to check on prometheus remote-write status

There are dashboards available in [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/grafana-dashboardDefinitions.yaml) which we can use

[2021-12-01 20:40] #1396 closed

[2021-12-02 09:21] goern opened #1399 "Issue on page /content/argocd-gitops/README.html"
the copyright on all generated pages of the jupyterbook is wrong. it should be the operate-first authors, rather than the jupyterbook community.

/kind bug
/priority important-soon

[2021-12-02 16:54] #1399 closed

[2021-12-02 17:24] 4n4nd opened #1402 "Tune Observatorium Thanos Receive deployment"
Thanos Receive deployment resources need to be tuned/scaled to be able to manage receiving metrics from multiple clusters

[2021-12-02 18:14] 4n4nd commented on #1402
Metrics are missing because Thanos receive components cannot keep up with the incoming cluster metrics
Example thanos metric:
![image](https://user-images.githubusercontent.com/22333506/144479587-38f89120-7d63-4621-9bff-3616dc7e8630.png)

What it should look like:
![image](https://user-images.githubusercontent.com/22333506/144479673-e7b8f1e8-78ab-40bb-8305-8d881bf32110.png)

[2021-12-03 10:27] craicoverflow opened #1406 "Majority of operate-first.cloud pages are not found"
Most webpages that are linked in the side nav do not direct to anything for me.

Examples:
- https://www.operate-first.cloud/hitchhikers-guide/apps/docs/acme/issuing_certificates.md
- https://www.operate-first.cloud/hitchhikers-guide/apps/docs/acm/adding_users_to_acm.md
- https://www.operate-first.cloud/hitchhikers-guide/apps/docs/ocs/claiming_object_store.md

[2021-12-03 13:29] HumairAK commented on #1406
Hey @craicoverflow apologies, the site is undergoing a bit of restructuring, this should be resolved by: https://github.com/operate-first/operate-first.github.io/pull/336

The new location for these docs is active though, you can access it here: https://www.operate-first.cloud/apps/content/README.html

[2021-12-03 13:34] craicoverflow commented on #1406
No problem, just was not sure if you guys were aware. Ooh thanks! I was going through the GH repo files, this is better.

[2021-12-03 13:51] #1406 closed

[2021-12-03 18:37] #1361 closed

[2021-12-05 12:27] rbo opened #1410 "Broken link at "How to encrypt apps in this repo""
The first link at  https://github.com/operate-first/apps/blob/master/docs/content/argocd-gitops/encrypting_applications.md is broken.

Link to https://github.com/operate-first/continuous-deployment/blob/master/docs/manage_your_app_secrets.md is removed with commit https://github.com/operate-first/continuous-deployment/commit/585a2baad151159424e976dc03c0d7a2f68b7c34

[2021-12-06 16:39] HumairAK commented on #1388
Upgrade has been postponed to December 9th due to https://github.com/operate-first/SRE/issues/430

[2021-12-06 19:55] HumairAK commented on #1410
FYI these links are found here:
https://www.operate-first.cloud/apps/content/argocd-gitops/README.html

I'll send in a pr to update these links
Thanks!

[2021-12-07 12:04] oindrillac opened #1412 "Broken links in GitOps Documentation JupyterBook"
The following links on the JupyterBook seem to be broken:

- On https://www.operate-first.cloud/apps/content/README.html -> under "Managed Services" -> under "Open Data Hub" -> **dashboard**  (https://odh.operate-first.cloud/)
- On https://www.operate-first.cloud/apps/content/README.html -> under "Managed Services" ->  under "OpenShift Data Foundation" -> Visit **this page** for more information (

[2021-12-07 12:09] oindrillac opened #1413 "Is there any documentation on Seldon?"
We have the seldon operator available in _Smaug_ under the `ds-ml-workflows-ws` namespace. Is any documentation which highlights how to access the opf seldon namespace and shares any details?

If not, it might be valuable for DS users if added under the list of managed odh components https://www.operate-first.cloud/apps/content/odh/README.html.

related: https://github.com/aicoe-aiops/data-science

[2021-12-07 13:53] HumairAK opened #1415 "Install Cert Manager on moc infra"
So we can avoid issues like: https://github.com/operate-first/support/issues/493

[2021-12-09 12:18] sesheta commented on #39
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-09 12:18] sesheta commented on #649
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-09 12:18] sesheta commented on #47
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-09 12:18] sesheta commented on #43
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-09 14:10] HumairAK commented on #43
/remove-lifecycle rotten

[2021-12-09 17:19] #1402 closed

[2021-12-09 18:35] HumairAK commented on #1415
Resolved

[2021-12-09 18:35] #1415 closed

[2021-12-09 18:41] HumairAK commented on #1413
AFAIK we do not, how about we convert this issue from _question_ into an action on _adding docs_ for seldon?

Volunteers? Docs would go here: https://github.com/operate-first/apps/tree/master/docs/content/odh

Adding to the toc is relatively simple: https://github.com/operate-first/apps/blob/master/docs/CONTRIBUTING.md

[2021-12-09 21:37] 4n4nd opened #1429 "Request: give curator team access to Observatorium"
Curator team needs access access to cluster metrics in Thanos
cc @leihchen

[2021-12-09 21:52] #1429 closed

[2021-12-10 14:25] HumairAK commented on #1388
Postponed again for the same reason to Tuesday, Dec 14.

[2021-12-10 16:12] first-operator[bot] opened #1432 "Revert clusterID for infra to it's original cluster id"
Context:

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RT0S2WKX/p1639074053065000?thread_ts=1639074053.065000&cid=C01RT0S2WKX_

[2021-12-10 17:00] #1432 closed

[2021-12-10 21:17] sesheta commented on #44
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 21:17] sesheta commented on #18
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 21:17] #18 closed

[2021-12-10 21:17] sesheta commented on #18
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/18#issuecomment-991299692):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-12-10 21:17] #44 closed

[2021-12-10 21:17] sesheta commented on #44
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/44#issuecomment-991299687):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-12-10 21:18] sesheta commented on #803
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-11 00:17] sesheta commented on #100
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-11 00:17] #100 closed

[2021-12-11 00:17] sesheta commented on #100
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/100#issuecomment-991387867):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-12-11 09:17] sesheta commented on #305
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-11 09:17] #305 closed

[2021-12-11 09:17] sesheta commented on #305
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/305#issuecomment-991567181):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-12-13 09:17] sesheta commented on #545
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-13 09:18] #545 closed

[2021-12-13 15:17] sesheta commented on #605
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-13 15:18] #605 closed

[2021-12-13 15:53] 4n4nd opened #1437 "Loki grafana dashboard needs to be updated for multiple clusters"
Since we are consuming logs from multiple clusters, the [Cluster Logs Quick Search](https://grafana.operate-first.cloud/d/liz0yRCZz/cluster-logs-quick-search?orgId=1) dashboard needs to be updated

[2021-12-13 18:17] sesheta commented on #606
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-13 18:17] #606 closed

[2021-12-13 18:17] sesheta commented on #606
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/606#issuecomment-992743704):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-12-13 19:17] #1412 closed

[2021-12-13 21:07] HumairAK opened #1439 "Smaug Ingress Cert expiration"
Cert-manager did not update the cert, from cert-manager logs:

[code]

[2021-12-13 21:09] HumairAK commented on #1439
Based on https://github.com/jetstack/cert-manager/issues/1387#issuecomment-465637104 I've applied https://github.com/operate-first/apps/pull/1440

Now I see:

[code]

[2021-12-13 21:11] HumairAK commented on #1439
From the cert status:

[code]

[2021-12-14 14:10] HumairAK commented on #1388
Postponed again for the same reason to Thursday, Dec 16.

[2021-12-14 18:18] sesheta commented on #762
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 18:18] #762 closed

[2021-12-14 18:18] sesheta commented on #762
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/762#issuecomment-993852310):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-12-14 20:55] HumairAK opened #1445 "Add notebook image for gitops book in smaug jh"
We need to use the aicoe-ci app to build the image that contains the notebooks in `docs/content/notebooks`, then add this image to JH, and retire the HitchHiker's guide notebook as per: https://github.com/operate-first/SRE/issues/424

[2021-12-15 12:18] sesheta commented on #817
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 12:18] #817 closed

[2021-12-15 12:18] sesheta commented on #817
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/817#issuecomment-994737395):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-12-15 15:19] sesheta commented on #681
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-15 18:18] sesheta commented on #782
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 18:18] #782 closed

[2021-12-15 18:18] sesheta commented on #782
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/782#issuecomment-995046398):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-12-16 14:58] HumairAK commented on #1388
Upgrade blocked due to:

Operator strimzi-cluster-operator.v0.22.1 in namespace openshift-operators is not compatible with OpenShift versions greater than 4.8.0
Operator seldon-operator.v1.7.0 in namespace ds-ml-workflows-ws is not compatible with OpenShift versions greater than 4.8.0
Operator sparkoperator.v1.1.0 in namespace opf-jupyterhub is not compatible with OpenShift versions greater than 4

[2021-12-16 15:00] HumairAK commented on #1388
Checklist:

Need to upgrade:

- [ ] Operator strimzi-cluster-operator.v0.22.1 to ??
- [ ] Operator seldon-operator.v1.7.0 to ??
- [ ] Operator sparkoperator.v1.1.0  to ??
- [ ] Operator grafana-operator.v3.10.3 to 4.1.1
- [ ] Operator sparkoperator.v1.1.0 to ??
- [ ]  Operator seldon-operator.v1.7.0 to ??

[2021-12-16 16:18] HumairAK opened #1454 "Preparing to upgrade to OpenShift Container Platform 4.9"
See [here](https://access.redhat.com/articles/6329921) for more details. We should go over our resources and make sure they are up to date before moving to 4.9.

We also have the following notifications:

We also need to upgrade:

- [x] [Operator strimzi-cluster-operator.v0.22.1 to v0.26.1][strimzi] (https://github.com/operate-first/apps/pull/1456)
- [x] [Operator grafana-operator.v3.10.3 to 4.1.1

[2021-12-16 17:20] HumairAK commented on #1388
Side note, these operators need to be updated for 4.9 upgrade, so I'm going add that to: #1454

[2021-12-17 14:03] first-operator[bot] opened #1461 "Add documentation explaining folder structure and how to interact with it"
Context:

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01TLUB9X6Y/p1639748122001900?thread_ts=1639748122.001900&cid=C01TLUB9X6Y_

[2021-12-17 17:01] HumairAK commented on #1388
Upgrade was completed successfully, closing.

[2021-12-17 17:01] #1388 closed

[2021-12-17 17:20] 4n4nd opened #1464 "Kafka creds need to be updated"
in a recent PR https://github.com/operate-first/apps/pull/1462, the storage for kafka was changed and we ended up re creating kafka.
This resulted in kafka creds being regenerated.

[2021-12-17 18:01] 4n4nd commented on #1464
@harshad16 @Gregory-Pereira Can you folks make sure that the creds are updated for Thoth services and close this issue once done?
Thanks!

[2021-12-17 18:09] 4n4nd opened #1465 "Move Observatorium metrics/log storage to Ceph"
Rn buckets are hosted on MOC NFS server which is not being maintained anymore.

- [x] Create 2 Object Bucket Claims in the `opf-observatorium` namespace (https://github.com/operate-first/apps/pull/1631)
- [ ] Migrate metrics and log data from current buckets to the new buckets
- [ ] Update Observatorium credentials to use the new buckets

[2021-12-17 21:13] HumairAK opened #1468 "Cannot Add new clusters via acm due to insufficient cert"
Faced with error:

[code]

Resolution, add `api.moc-infra.massopen.cloud` to dnsname in certmanager for api cert

[2021-12-17 21:22] larsks commented on #1468
In tfact, there should be no wildcard entry for `*.api`. We only need/want a wildcard for `*.apps`.

[2021-12-18 20:46] rbo opened #1471 "Onboard Morty"
This issue is to track the onboarding of Morty cluster (EMEA)

- [x] SSO
    - Wait for https://github.com/operate-first/support/issues/504
    - PR #1470
- [x] Alertmanager
    - PR #1470
- [ ] Check alert repository
- [x] Install ODF
    - PR #1506
- [X] Install NDF
    - PR #1713
- [X] Install OpenShift Virtualization
    - PR #1713
- [X] Install OpenShift pipelines
    - PR #1713
- [X] Setup l

[2021-12-20 05:06] #1464 closed

[2021-12-21 17:35] 4n4nd opened #1476 "ODH Upgrade from `v1.1.0` to `v1.1.1`"
This issue tracks the issues/changes required to accomodate the ODH upgrade to 1.1.1 for the following services:
- JupyterHub
- Trino
- Superset
- Kafka

# JupyterHub
To update Jupyterhub we saw the following issues:
1. The new HA Jupyterhub Server DeploymentConfig needs a configmap called [`sidecar-probe`](https://github.com/opendatahub-io/odh-manifests/blob/c4d94c3308e6555715dcadf6461115c9267242

[2021-12-22 16:35] HumairAK commented on #1476
Upgrading trino resulted in a coordinator error:

[code]

This file:
https://github.com/opendatahub-io/odh-manifests/blob/master/trino/base/trino-config-secret.yaml#L32

Doesn't seem available in the trino pod on the [352](https://quay.io/repository/opendatahub/trino?tag=latest&tab=tags) image:

[code]

[2021-12-22 16:49] HumairAK commented on #1476
This file is missing from trino 362, @rimolive mentioned on slack that they will add it.

[code]

[2021-12-24 21:22] sesheta commented on #855
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-03 12:23] sesheta commented on #1119
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-06 17:09] HumairAK commented on #1471
sso/alert receiver configured

[2022-01-06 17:11] HumairAK commented on #1119
/remove-lifecycle stale

[2022-01-06 18:45] HumairAK opened #1489 "Remove manifests and references to Zero cluster"
As the zero cluster does not exist any more, we should clean up the lingering manifests and references to it.

[2022-01-06 20:13] first-operator[bot] opened #1493 "Remove unused Jupyterhub instance"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1641499136015300?thread_ts=1641499136.015300&cid=C01RMPVUUK1_

[2022-01-06 21:20] HumairAK commented on #1476
@operate-first/odh

[2022-01-06 21:20] #1476 closed

[2022-01-06 22:23] #1493 closed

[2022-01-07 16:09] #1489 closed

[2022-01-07 17:41] HumairAK opened #1501 "Docs on how to provision ArgoCD read/admin access"
Add these docs to: https://github.com/operate-first/apps/blob/master/docs/content/argocd-gitops/get_access_to_argocd.md

Add a new section "Get Admin Access" with something like:

"If you need admin level read access, add your GitHub handle to [this group](https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/argocd-readonly/group.yaml)"
"If you need admin l

[2022-01-07 18:12] #1468 closed

[2022-01-08 12:22] sesheta commented on #39
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-08 12:22] sesheta commented on #649
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-08 12:22] sesheta commented on #47
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-08 12:22] sesheta commented on #39
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/39#issuecomment-1007973555):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-01-08 12:22] #39 closed

[2022-01-08 12:22] sesheta commented on #47
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/47#issuecomment-1007973562):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-01-08 12:22] #47 closed

[2022-01-08 12:22] #649 closed

[2022-01-08 12:22] sesheta commented on #649
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/649#issuecomment-1007973553):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-01-09 21:22] sesheta commented on #803
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-09 21:22] #803 closed

[2022-01-09 21:22] sesheta commented on #803
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/803#issuecomment-1008426266):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-01-11 17:50] harshad16 opened #1511 "Trouble accessing the grafana dashboard"
One of the developer of Thoth group is not able to login into grafana dashboard
user github id: Gkrumbach07

already added in the thoth group
https://github.com/operate-first/apps/commit/0b31c8b96f02cfeadfc4d3769b87000c30f9660e

however when the user tries to login always get the following issue:
![image](https://user-images.githubusercontent.com/14028058/148995152-26ca44b6-fb20-47f4-bd5e-d5ddcff9

[2022-01-12 18:28] first-operator[bot] opened #1513 "Add cloudbeaver UI endpoint url to ODH components page"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1642004067102800?thread_ts=1642004067.102800&cid=C01RMPVUUK1_

Hi folks, it seems like the endpoint url for the Cloudbeaver UI is not mentioned on the [Open Data Hub components list](https://www.operate-first.cloud/apps/content/odh/README.html#compone

[2022-01-12 19:24] HumairAK commented on #1513
@dystewart or @Gregory-Pereira any takers for this?

[2022-01-12 20:06] #1513 closed

[2022-01-12 22:00] HumairAK opened #1516 "Convert JupyterHub PVC notebook into a self service notebook with automation"
Currently we have [this](https://github.com/operate-first/apps/blob/master/docs/content/notebooks/increase_pvc_size.ipynb) notebook, that is mostly just documentation, and is not really utilizing the JH notebook's ability to truly make these docs self service/automated. We would like the notebook to take in parameters and then offer code that the user can execute via the notebook, which will creat

[2022-01-12 22:10] HumairAK commented on #1516
Note that the `sops encryption` portion is outdated, we no longer need to encrypt the PVC's anymore. and that can be ignored.

[2022-01-13 14:54] first-operator[bot] opened #1517 "Add docs to superset runbook on how to resolve missing user when adding them to a chart."
Slack convo:

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1642083368127500?thread_ts=1642083368.127500&cid=C01RMPVUUK1_

[2022-01-13 18:24] sesheta commented on #604
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-14 15:06] #1517 closed

[2022-01-14 15:22] sesheta commented on #681
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-14 15:22] #681 closed

[2022-01-14 15:22] sesheta commented on #681
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/681#issuecomment-1013219555):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-01-14 16:08] HumairAK commented on #604
/remove-lifecycle stale

[2022-01-16 15:24] sesheta commented on #1085
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 02:33] 4n4nd commented on #1085
/remove-lifecycle stale

[2022-01-17 14:58] 4n4nd opened #1522 "Images for some pages in operate-first.cloud are broken"

[2022-01-17 15:24] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 21:41] HumairAK commented on #17
/remove-lifecycle stale

[2022-01-18 16:59] bryanmontalvan opened #1529 "Outdated file structure and link in grafana dashboard creation docs"
An example of one of the outdated lines (out of 4 lines and 1 broken link to be fixed)
[code]

Should be
[code]

Link:
https://www.operate-first.cloud/apps/content/grafana/add_grafana_dashboard.html

[2022-01-18 17:16] #1529 closed

[2022-01-18 17:49] #1522 closed

[2022-01-18 19:07] 4n4nd opened #1531 "[moc/smaug] Install Operators needed for setting up opentelemetry tracing"
The following operators need to be installed:

- [x] jaeger operator
- [x] otel-collector

Related https://github.com/operate-first/support/issues/401

[2022-01-18 19:08] 4n4nd commented on #1531
/assign @sallyom @4n4nd

[2022-01-18 19:29] HumairAK opened #1532 "Add a more informative readme doc for apps repo"
Considering the size of the repo, and how central it is to our day to day tasks. It would be worth while to hash out a more information readme doc.

[2022-01-19 15:34] #1532 closed

[2022-01-19 19:07] 4n4nd opened #1539 "[docs] need docs on how to request access to the moc/smaug Loki instance"
The docs available at https://www.operate-first.cloud/apps/content/observatorium/loki/README.html need instructions to request access to the Loki routes.

[2022-01-19 19:20] #1539 closed

[2022-01-19 21:06] HumairAK opened #1540 "Investigate and Install Patch Operator to delegate confidential data in non k8s resources to k8s secrets."
## Background context
In an ideal world all confidential data on a cluster would be stored within K8S secrets, and then referenced from said secrets. However, this is not always the case. There are different situations where confidential data ends up being added to k8s resources that are _not_ secrets. For instance:
- OCP Routes holding tls certs
- [Keycloak client CRs](https://github.com/operate-

[2022-01-20 04:13] larsks commented on #1540
I think that this has a dependency on https://github.com/operate-first/support/issues/298 and on getting the [ExternalSecrets](https://github.com/external-secrets/kubernetes-external-secrets) controller installed (for which I don't think we have an issue yet).

[2022-01-24 00:23] sesheta commented on #855
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-24 00:23] #855 closed

[2022-01-24 00:23] sesheta commented on #855
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/855#issuecomment-1019604470):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-01-24 14:52] 4n4nd opened #1549 "Smaug Prometheus PVC full"
Smaug Openshift monitoring prometheus PVC seems to be full. We can see the following error in prometheus pods:
[code]

[2022-01-24 14:56] 4n4nd opened #1551 "Add PVC full alerts for openshift-monitoring prometheus in smaug"

[2022-01-24 15:02] #1549 closed

[2022-01-24 15:03] larsks commented on #1549
@4n4nd Should we have received an alert for this prior to running out of space?

[2022-01-24 15:04] 4n4nd commented on #1549
@larsks I am not sure but I have created a separate issue for it here: https://github.com/operate-first/apps/issues/1551

[2022-01-26 15:46] anishasthana opened #1557 "Set up prow for RHODS repository"
We would like to set up prow to manage merging based on specific conditions for the odh-deployer repository at https://github.com/red-hat-data-services/odh-deployer

[2022-01-27 17:05] HumairAK opened #1561 "Onboarding project notebook should have custom quota disabled by default"
Where we set:

[code]

We want `CUSTOM_QUOTA=False`. This essentially makes it so the cell block where we add a default quota executes, should the user require a custom quota, onus is on them to set this value to true and specify details for their custom quota in the following code blocks.

[2022-01-28 16:13] bryanmontalvan commented on #1561
/assign @bryanmontalvan

[2022-01-31 15:33] 4n4nd opened #1566 "MOC/Smaug cluster monitoring Prometheuses have stopped remote writing metrics to thanos"
In this PR: https://github.com/operate-first/apps/pull/1559, the secret generator that applies the monitoring configuration was removed from the main smaug kustomization. Resulting in base configs being applied. The base configuration do not have remote-write configs hence the Prometheuses stopped writing metrics to Thanos.

[2022-01-31 15:52] #1566 closed

[2022-02-01 21:27] sesheta commented on #1279
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-01 23:20] #1279 closed

[2022-02-04 23:57] Gregory-Pereira commented on #1501
Resolved by #1524. Feel free to re-open if something was missed.

[2022-02-04 23:57] #1501 closed

[2022-02-06 18:27] sesheta commented on #1295
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-06 18:27] sesheta commented on #502
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 00:27] sesheta commented on #1298
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 12:27] sesheta commented on #193
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 12:27] sesheta commented on #209
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 12:27] sesheta commented on #601
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 14:48] Gkrumbach07 commented on #1511
Has this issue been resolved? Is there something I need to do on my end. Thanks

[2022-02-07 14:50] HumairAK commented on #502
/remove-lifecycle stale

[2022-02-08 00:27] sesheta commented on #1210
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 16:15] HumairAK commented on #1210
/remove-lifecycle stale

[2022-02-08 18:57] Gregory-Pereira commented on #1511
@Gkrumbach07 once #1593 gets merged try logging into [grafana](https://grafana.operate-first.cloud/login) and let me know if its fixed.

[2022-02-08 19:43] bryanmontalvan opened #1595 "Add section in Grafana doc to remind users to backup working dashboards"
Whenever Grafana has an operator update or a new dashboard is added via git the grafana instance will redeploy. Causing any working dashboard that is not saved in the `opereate-first` repo to be deleted

## Goal
Create a section in our Grafana docs page which will tell users to backup their working dashboards

## Reference:
https://github.com/operate-first/SRE/issues/440#issuecomment-1032871156

[2022-02-08 19:43] bryanmontalvan commented on #1595
/assign @bryanmontalvan

[2022-02-08 19:44] bryanmontalvan commented on #1595
/assign @bryanmontalvan

[2022-02-09 14:37] Gkrumbach07 commented on #1511
That fixed it. Thanks!

[2022-02-09 16:38] #1511 closed

[2022-02-11 13:10] durandom opened #1614 "format for interactive documentation - vscode-didact"
Maybe, instead of jupyter notebooks, we could investigate how https://github.com/redhat-developer/vscode-didact works for interactive markdown documents.

not sure if this is the right repo, but IIRC this contains the recent docs.

[2022-02-11 14:13] larsks commented on #1614
It looks like Didact only works within VS Code. That seems like a significant restriction.

[2022-02-11 17:53] 4n4nd opened #1615 "[Smaug] Kafka pods crashing running out of storage"
kafka pods are crashing in Smaug. Will need to increase the PVC size for Kafka.

[2022-02-11 18:03] #1615 closed

[2022-02-11 18:55] HumairAK opened #1617 "Document how folks can use VolSync to back up their data"
## Background context

With [volsync](https://github.com/operate-first/apps/pull/1612) added to smaug cluster we should not document how others can leverage this tool to back up their data. Please do not replicate docs, volsync already have their [own docs](https://volsync.readthedocs.io/en/stable/). We should simply mention in our [gitops docs](https://www.operate-first.cloud/apps/content/README.

[2022-02-13 09:28] sesheta commented on #266
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-13 15:28] sesheta commented on #793
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 15:04] bryanmontalvan commented on #1465
/assign @bryanmontalvan

[2022-02-14 17:58] HumairAK commented on #266
/remove-lifecycle rotten

[2022-02-14 21:44] HumairAK opened #1626 "Get OSC admins argocd access to all osc apps"
Hand out access to users like @redmikhail that are part of the osc admins group read/write argocd access to all the osc argocd apps

[2022-02-15 15:27] erikerlandson opened #1628 "rules.json from trino DSL is not being deployed to the cluster"
the file:
https://github.com/operate-first/apps/blob/db5c533650555f974f3f13293c4f02ebe22ee374/kfdefs/overlays/osc/osc-cl1/trino/configs/rules.json

Is not being deployed to the osc-1 cluster
cc @HumairAK

[2022-02-17 14:47] HumairAK commented on #1454
Spark operator latest is not 4.9 compatible. ODH upstream has a pr here: https://github.com/opendatahub-io/odh-manifests/pull/509 to update it.

[2022-02-21 13:20] mubariskhan96 opened #1646 "Create Documentation for Assigning Privileges to a Group in a Namespace"
We need to have documentation for assigning privileges to a group in a namespace.

The steps look like following,

1. add your group to this list: https://github.com/operate-first/apps/tree/master/cluster-scope/components/project-admin-rolebindings
2. to give admin access to a namespace add it to the namespace kustomization (Example: https://github.com/operate-first/apps/blob/master/cluster-scope/

[2022-02-22 16:07] sesheta commented on #1317
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 16:07] sesheta commented on #1357
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 16:49] 4n4nd opened #1649 "[Smaug] Thanos Store Shards pods are restarting because of insufficient storage space"
Thanos store shard pods are erroring out with the following pod logs:
[code]

[2022-02-22 20:25] 4n4nd opened #1652 "[workload-overview] Identify what information should be displayed in the overview dashboard"
We need to display information about a service/application that is deployed on operate first clusters.

The current suggestion is:
- Project owner github handle
- Resources being consumed by the project (cpu, memory, storage,...)
- Link to some basic documentation about the project
- Link to the PR where the project namespace was created

[2022-02-23 14:18] HumairAK commented on #1454
Decision: remove spark operator until it's updated upstream.

[2022-02-23 14:33] HumairAK opened #1654 "Document how to upgrade a cluster subscription to enact a cluster upgrade."
The entire process is encapsulated here: https://github.com/operate-first/apps/pull/1647

Steps:
1) Show how to determine existing version

2) Determine what version to upgrade to. Use this tool: https://access.redhat.com/labs/ocpupgradegraph/update_path?channel=stable-4.8&arch=x86_64&is_show_hot_fix=false&current_ocp_version=4.8.23&target_ocp_version=4.9.21

3) Find write image sha, instructions

[2022-02-23 14:44] HumairAK commented on #1454
We are now in the clear:

![image](https://user-images.githubusercontent.com/10904967/155342062-43f83019-b8b0-4116-b258-ad734f452104.png)

[2022-02-23 15:12] HumairAK commented on #1454
Re-opened due to: https://github.com/operate-first/operations/issues/453#issuecomment-1048886228

[2022-02-23 16:04] larsks commented on #1465
@bryanmontalvan note that instead of handling this migration externally, as we've discussed in chat, you could alternatively submit a pod to the cluster that would perform the migration internally. The pod would have access to all the necessary secrets (either exposed as environment variables or mounted as files on the filesystem).

I think that's probably the right way to handle this.

[2022-02-23 20:02] dystewart commented on #1540
I've installed (via OLM) and tested a few patches using the testing directory at the patch operator github: [https://github.com/redhat-cop/patch-operator](https://github.com/redhat-cop/patch-operator)

So far I have created a testing namespace: `oc new-project test-patch-operator`

Added a serviceaccount to the namespace: `oc create serviceaccount test -n test-patch-operator`

Then added a cluster

[2022-02-24 16:08] sesheta commented on #1368
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-24 16:18] suppathak commented on #1368
@schwesig , I just realized it is the same issue that i opened [here](https://github.com/aicoe-aiops/data-science-workflows/issues/99).

[2022-02-24 16:49] 4n4nd opened #1661 "[workload-overview] Test out using annotations/labels in namespace manifests to store and query project information for the dashboards"
Test adding project information to namespace manifests (https://github.com/operate-first/apps/blob/master/cluster-scope/base/core/namespaces/opf-jupyterhub/namespace.yaml) and see if they can properly be displayed in a grafana dashboard

[2022-02-24 16:51] 4n4nd opened #1662 "[workload-overview] How can we make the dashboard public?"
If we make a single stop grafana dashboard for opf workloads, how do we make it public since the current grafana instance is behind a proxy.

[2022-02-24 17:04] HumairAK commented on #1652
I think that's a good list. IMO I also think we should also keep in mind that:

- information should be publicly displayable (no cluster internal data/secrets/etc.)
- information should be high level, and not super technical (if we show resource usage, it should be very minimal, so that a non-technical/ops person can also digest it, we already have detailed resource dashboards for operations)

[2022-02-24 20:25] first-operator[bot] opened #1665 "Document process for creating support ticket for MOC cluster issues"
See the conversation below (the latter half is support case related) for some of the initial questions and record of the process. Would be nice if we can document this and provide suggestions (like put the github issue with the alternate case id).

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RT0S2WKX/p1645712360918609?thread_ts=1645712360.918609&cid=C01RT0S2WKX_

[2022-02-25 15:47] bryanmontalvan commented on #1662
After some digging, I think that going the snapshot route would be a good since if we share a snapshot of a dashboard or panel the following happens to both dashboard and panel snapshots.

The only difference between **dashboard snapshots** and **panel snapshots** is that panel snapshots can be embedded to a web-page using `<iframe src="https://play.grafana....">`

The only issue I'm seeing is tha

[2022-02-25 16:10] 4n4nd commented on #1662
@bryanmontalvan Yeah we want the data to not be static. So if a new service/app is onboarded, the dashboard should update automatically to include it.

I think @HumairAK's suggestion to go with a separate public grafana instance makes more sense for this.

[2022-02-25 17:49] bryanmontalvan commented on #1661
What exactly type of annotations or labels would store in the manifests? (Project group/owner, description)?

[2022-02-28 13:10] schwesig commented on #1368
@suppathak ok, thanks! then I will close this one here.

closed because of issue doubled in https://github.com/aicoe-aiops/data-science-workflows/issues/99

[2022-02-28 13:10] #1368 closed

[2022-02-28 19:08] sesheta commented on #909
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-01 10:08] sesheta commented on #1382
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-01 16:59] mubariskhan96 opened #1677 "List of Services / apps to which alerts are to be added"
I'm trying to set up alerts for apps within Operate First. In this issue I will go over the apps for which I will be setting up the Alerts. I will work on configuring the Alerts in the same order as I list them here.

So, the tentative list of apps is:

- [ ] Jupyter Hub
- [ ] Kafka
- [ ] seldon
- [ ] argocd
- [ ] Trino

If you want me to do them in a different order, then please let me know. Also

[2022-03-01 20:01] bryanmontalvan commented on #1661
/assign @bryanmontalvan

[2022-03-02 15:15] HumairAK commented on #1382
/remove-lifecycle stale

[2022-03-03 16:08] sesheta commented on #1355
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-06 22:08] sesheta commented on #1410
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-07 13:42] HumairAK commented on #1540
@dystewart that's great. One specific use case we have is for the secrets as mentioned above, I would take any k8s resource and try to reference a value (let's say for like a label) and pull it from a deployed secret.

Also, what happens if you dont' give cluster-admin in the example above? what permissions does the operator say it's specifically missing? Does it have to be the `default` user in t

[2022-03-07 15:59] larsks commented on #1410
/remove-lifecycle stale

[2022-03-07 18:28] HumairAK opened #1699 "Create a declarative way for importing clusters via acm"
The current workflow for adding a cluster to the operate-first cloud is to first run a manual step of importing it via the UI. However, the procedure [here](https://cloud.redhat.com/blog/bring-your-own-fleet-with-red-hat-advanced-cluster-management-for-kubernetes-auto-import-and-automation-tools) , outlines a way one can do this declaratively. Seems like you just create a namespace, secret, manage

[2022-03-07 19:49] HumairAK commented on #1677
I'd remove `argo` from that list. I don't think we're even deploying it, and if we are, I don't think anyone is using it.

argocd is a good one, but I'm not sure if we're exposing metrics for that

[2022-03-07 19:57] mubariskhan96 commented on #1677
Thanks!  I will tentatively replace argo with argocd there and will investigate later if the metrics for it are being exposed

[2022-03-08 16:58] mayaCostantini opened #1703 "Request access to smaug namespaces"
As a member of the `thoth-devops` group, I would like to have access to the following namespaces in smaug:

- openshift-pipelines
- opf-pulp
- thoth-middletier-prod
- thoth-backend-prod
- thoth-frontend-prod
- thoth-bots-prod
- thoth-amun-inspection-prod
- thoth-infra-prod
- thoth-amun-api-prod
- opf-ci-prow
- tekton-chains
- opf-ci-pipelines

[2022-03-08 20:04] HumairAK commented on #1703
@mayaCostantini can you add your github handle to [this group](https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/thoth-devops/group.yaml) and submit a PR?

[2022-03-08 20:12] mayaCostantini commented on #1703
Sure, thanks @HumairAK

[2022-03-08 21:16] HumairAK commented on #1703
@mayaCostantini can this be closed now?

[2022-03-08 21:28] mayaCostantini commented on #1703
Yes, thanks for the help!

[2022-03-08 21:28] mayaCostantini commented on #1703
/close

[2022-03-08 21:28] #1703 closed

[2022-03-08 21:28] sesheta commented on #1703
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1703#issuecomment-1062229771):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-03-09 02:26] sesheta commented on #1298
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 14:26] sesheta commented on #209
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 14:26] sesheta commented on #193
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 14:26] sesheta commented on #601
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 14:49] #1628 closed

[2022-03-09 16:09] sesheta commented on #43
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-09 16:54] mayaCostantini commented on #1703
@HumairAK I get an authentication error when trying to access the OpenShift console after you reinitialized y access yesterday. Do you mind if I keep this issue open until I can get access  to the namespaces?

[2022-03-09 17:26] sesheta commented on #502
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 19:09] sesheta commented on #1413
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-09 20:38] HumairAK commented on #1413
/remove-lifecycle stale

[2022-03-09 22:09] sesheta commented on #1327
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-09 22:26] anishasthana commented on #502
/remove-lifecycle rotten

[2022-03-10 16:08] 4n4nd commented on #1661
since labels are not very flexible, I think we should just write an exporter that exports annotations data as prometheus metrics.

[2022-03-10 16:10] 4n4nd opened #1717 "[workload-overview] Write a Prometheus Exporter for k8s resource annotations"
We have a metric available `kube_namespace_labels`, this metric exports k8s namespace labels as prometheus metrics. We will need to write an exporter that exports namespace annotations similarly.

[2022-03-11 12:57] rbo commented on #1471
@4n4nd please add document all Morty related PR for onboarding/configuration here to have a complete list of task for cluster onboading.

[2022-03-13 22:09] sesheta commented on #1439
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-14 14:39] #1595 closed

[2022-03-14 21:59] Gregory-Pereira commented on #1516
@HumairAK based on the move to using the `opfcli` for onboarding rather than jupyterbook due to mounting concerns about it becoming cluttered / complicated, would this be something to better implement in the `opfcli` or in a jupyterbook?

[2022-03-14 22:10] sesheta commented on #1445
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-15 17:26] sesheta commented on #430
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-15 17:26] sesheta commented on #793
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-15 17:26] sesheta commented on #792
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-16 15:14] HumairAK commented on #1298
I think this was changed in the restructuring of the ops docs into jupyterbook, so the above links don't work as they dont' exist any more, closing. If this persists please provide the updated paths that need to be fixed, thanks.

[2022-03-16 15:14] #1298 closed

[2022-03-16 15:16] HumairAK commented on #1439
as it's been 90 days, I'm guessing the certs were cycled again without issues this time around. Closing, please reopen if we encounter this again.

[2022-03-16 15:16] #1439 closed

[2022-03-16 15:17] HumairAK commented on #1327
@4n4nd I think this is in large part done, can we close this?

[2022-03-16 16:43] Gregory-Pereira opened #1745 "Migrate ODH-manifests"
We should migrate odh-manifests available in `operate-first/apps` to `operate-first/odh-manifests` in accordance with the WG-devsecops meeting (march 16th). This will allow us to deploy ODH to smaug in the same manner that we deploy ODH to `osc-cl1` and `osc-cl2`.

[2022-03-16 17:26] HumairAK commented on #1445
/remove-lifecycle stale

[2022-03-16 20:26] sesheta commented on #266
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-16 20:27] Gregory-Pereira commented on #1745
Depends on branch being created for `smaug-<some_odh_version>` in `operate-first/odh-manifests`.

[2022-03-17 10:11] MichaelTiemannOSC opened #1748 "Elyra notebooks for OS-Climate do have GPU selector but not memory size selector"
In a previous incarnation, it was possible to select RAM size for Elyra notebooks (from 4GB to 32GB I believe).  And while it is possible to select whether the notebook uses a single GPU or no GPU, it is not possible to select RAM size, which is problematic for loading PUDL data (which momentarily needs lots of ram to process a 3.9GB tarfile that sits within a 6.5GB tgz file).  When the tarfile is

[2022-03-17 13:38] 4n4nd commented on #1661
This was tested and we found that labels are not the best place to store metadata since the label values have very strict character limitations. We have decided to create an annotations exporter which will let us export k8s resource annotations as prometheus metrics ([New issue](https://github.com/operate-first/apps/issues/1717)).

[2022-03-17 13:38] #1661 closed

[2022-03-17 13:42] 4n4nd commented on #1717
A Prometheus Exporter for k8s resource annotations was created here: https://github.com/4n4nd/k8s-annotations-exporter

[2022-03-17 13:42] #1717 closed

[2022-03-17 15:58] 4n4nd opened #1752 "Onboard Morty cluster to Operate-First monitoring"
Part of https://github.com/operate-first/apps/issues/1471

- [ ] Add a grafana datasource in operate-first smaug grafana to be able to query metrics from morty cluster monitoring prometheuses
- [ ] Configure Morty cluster monitoring prometheus instance to remote write metrics into operate-first Thanos instance in Smaug
- [ ] Configure Morty user-workload-monitoring prometheus instance to remote wr

[2022-03-17 20:05] larsks commented on #1540
[code]

The server isn't saying "invalid certificate". It's saying that certificate is valid for these names:

- patch-operator-controller-manager-service.patch-operator
- patch-operator-controller-manager-service.patch-operator.svc

But the service is being accessed with this name:

- patch-operator-webhook-service.patch-operator.svc

That looks to me like something is using the wrong certificate

[2022-03-18 15:58] HumairAK commented on #1626
To make this easier, I'm going to move all OSC apps to a new argocd project and hand out access to osc cluster contributors accordingly

[2022-03-18 16:51] #1626 closed

[2022-03-18 18:30] Shreyanand commented on #1748
Faced the same issue, screenshot attached.
![Screenshot from 2022-03-18 14-22-34](https://user-images.githubusercontent.com/8916126/159062478-29147d50-3fa4-4d6f-be6c-49adfc6b41e6.png)

[2022-03-18 19:38] erikerlandson commented on #1748
Here is how it was done on CL1
https://github.com/operate-first/apps/pull/1061

[2022-03-21 13:30] carlosGimeno opened #1766 "Suggestion about Inexact information on the GitOps Docs Getting Started page"
## Inexact information on the Getting Started page of the GitOps Documentation

In the section ["There are 3 parts to Operating First"](https://www.operate-first.cloud/apps/content/about/intro.html#there-are-3-parts-to-operating-first), the third point states that "The Mass Open Cloud (MOC) is a production cloud resource where projects are run.". While it remains somewhat true since smaug within M

[2022-03-21 13:40] carlosGimeno commented on #1766
kind/documentation

[2022-03-21 13:41] carlosGimeno commented on #1766
/documentation

[2022-03-21 14:30] carlosGimeno commented on #1766
/kind documentation

[2022-03-22 14:50] carlosGimeno opened #1775 "[GitOps Docs] Increase visibility for the Getting Started page"
#  Increase visibility for the Getting Started page

The current [Getting Started page](https://www.operate-first.cloud/apps/content/about/intro.html) is "hidden" under the ["About" Section](https://www.operate-first.cloud/apps/content/about/README.html), a page that does not currently hold any information. Under the current state, it is hard for newcomers to access this page because of this reduc

[2022-03-22 14:50] carlosGimeno commented on #1775
/kind documentation

[2022-03-22 14:50] carlosGimeno commented on #1775
/area contributor

[2022-03-22 16:52] dystewart opened #1778 "Adding Reloader deployment to osc-cl2 cluster"
We need to add a Reloader deployment to osc-cl2 cluster to reload the trino coordinator pod.

[2022-03-22 16:53] dystewart commented on #1778
I'll be opening a PR for this shortly

[2022-03-22 18:34] 4n4nd opened #1780 "[workload-overview] Deploy k8s-annotations-exporter on operate-first clusters"
This exporter will export namespace annotations as Prometheus metrics.

Related https://github.com/operate-first/apps/issues/1717

[2022-03-22 19:49] #1780 closed

[2022-03-22 20:06] dystewart commented on #1778
Once #1782 is merged I will create a new PR to add annotations to the trino coordinator deployment in [https://github.com/operate-first/odh-manifests/tree/osc-cl2-v1.1.2](https://github.com/operate-first/odh-manifests/tree/osc-cl2-v1.1.2)

[2022-03-24 17:27] sesheta commented on #1317
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-24 17:27] sesheta commented on #1357
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-25 17:58] 4n4nd opened #1802 "[workload-overview] Update the project onboarding docs/jupyterbook to include collecting relevant project information"
We need to update project onboarding docs/scripts/notebooks to request the following metadata from the users:

[code]
These annotations should be added to the namespace manifests.

[2022-03-28 15:08] #1745 closed

[2022-03-28 15:39] #1085 closed

[2022-03-28 16:10] 4n4nd opened #1811 "opf-kafka smaug argocd app sync broken"
![image](https://user-images.githubusercontent.com/22333506/160441251-6b069b66-c9e6-4e98-a9a7-49cc168d112b.png)

[2022-03-28 19:27] MichaelTiemannOSC commented on #1748
Bump!

[2022-03-29 16:53] 4n4nd opened #1819 "[workload-overview] Set up k8s-annotations exporter on OSC clusters"
- [x] osc-cl1 (https://github.com/operate-first/apps/pull/1820)
- [x] osc-cl2 (https://github.com/operate-first/apps/pull/1820)

[2022-03-29 16:57] #1748 closed

[2022-03-29 17:20] #1811 closed

[2022-03-29 18:37] dystewart commented on #1471
Added Morty cluster to the cluster dropdown in the template at [Issue: Onboard to a cluster](https://github.com/operate-first/support/issues/new?assignees=first-operator&labels=kind%2Fonboarding%2Carea%2Fcluster&template=onboarding_to_cluster.yaml&title=NEW+PROJECT%3A+%3Cname%3E)

[https://github.com/operate-first/support/pull/548](https://github.com/operate-first/support/pull/548)

[2022-03-30 18:13] dystewart opened #1828 "Update Reloader docs to include osc-cl2 cluster deployment"
Need to update the reloader doc with a list of clusters where it's deployed since it's not only in Smaug
Here is the PR adding Reloader to the osc-cl2 cluster #1782

[2022-03-30 20:29] sesheta commented on #909
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-31 13:40] #1819 closed, assigned to 4n4nd

[2022-03-31 13:54] 4n4nd commented on #1652
initial iteration of the workload overview dashboard added in: https://github.com/operate-first/apps/pull/1832

[2022-04-01 14:27] 4n4nd opened #1840 "Add osc clusters to Smaug Grafana"
- [ ] Add grafana datasources for osc-cl1 and osc-cl2 clusters
- [ ] Set up Remote Write to send metrics from osc-cl1 cluster to Smaug Thanos
- [ ] Set up Remote Write to send metrics from osc-cl2 cluster to Smaug Thanos

[2022-04-01 14:29] erikerlandson opened #1842 "OSC CL2 cluster is running trino:362"
It's supposed to be running >= trino:372, preferably 373
cc @MichaelTiemannOSC @caldeirav @rimolive

[2022-04-01 14:42] erikerlandson commented on #1842
So we need a 373 image build if @rimolive can do that

[2022-04-01 14:46] HumairAK commented on #1842
to upgrade to 373, pr looks similar to: https://github.com/operate-first/odh-manifests/pull/11
followed by an odh operator restart (in the openshift-operators namespace), then ensuring coordinator/workerpods restart successfully (should happen automatically after rebooting odh operator)

[2022-04-01 14:57] erikerlandson opened #1843 "upgrade OSC clusters (cl1, cl2) to Trino 373"
We'll need a `trino:373` image to be built first.
373 includes some bug fixes that relate to problems @MichaelTiemannOSC and I have been seeing around dropping tables in iceberg catalogs, and also includes a delta-lake connector.
cc @caldeirav @rimolive

[2022-04-01 14:58] erikerlandson commented on #1843
https://github.com/os-climate/os_c_data_commons/issues/154

[2022-04-01 14:59] dystewart opened #1844 "Enable PVCs in infra cluster"
In order to complete the vault deployment in the infra cluster, we need to set up PVCs on the infra cluster. Perhaps enable local storage on the cluster?
@larsks @HumairAK

[2022-04-02 17:28] sesheta commented on #1355
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-04 17:11] HumairAK opened #1849 "As an OPF SRE, I would like to be able to assign different users/quota for the same namespaces located on different clusters, so that I have more incentive to re-use namespaces across clusters."
### Additional Context:
Current situation:
- Namespaces/Groups are found in base directory
- Namespace rbac/quotas and Group userlist are thus found in the base directory
- The direct implication of this is that whenever the same namespace is duplicated across clusters it will always have the same quota, and the groups will have the same users.

Problem:
- Not all namespaces in all clusters are eq

[2022-04-04 17:14] larsks commented on #1849
Previously discussed, and I continue to be in favor of making quotas (and probably even groups) a per-cluster configuration (or in cases where we explicitly want to share the config across clusters make use of some sort of `common` directory).

[2022-04-05 14:50] erikerlandson commented on #1843
@HumairAK   when I get a 373 image, we would like to figure out how to re-initialize the CL2 trino deployment from a totally clean state on the underlying s3 bucket (so any existing tables would be lost, but we are OK with that).  This particular deployment began with trino:362 and has known bugs relating to s3 file management under the hood, so we can't trust the current state of the files.
cc @M

[2022-04-05 15:33] HumairAK commented on #1843
Is that another way of saying, just wipe the bucket clean?

[2022-04-05 15:55] MichaelTiemannOSC commented on #1843
Yes, recursively from osc-datacommons-s3-bucket-dev02/data on down, leaving osc-datacommons-s3-bucket-dev02 pristine.

Michael

________________________________
From: Humair Khan ***@***.***>
Sent: Tuesday, April 5, 2022 11:33:26 AM
To: operate-first/apps
Cc: Michael Tiemann; Mention
Subject: Re: [operate-first/apps] upgrade OSC clusters (cl1, cl2) to Trino 373 (Issue #1843)

when I get a 373 imag

[2022-04-05 16:18] erikerlandson commented on #1843
yes

[2022-04-05 16:19] erikerlandson commented on #1843
there was a suggestion that maximum open files could be an issue for partition writers, but the current ulimits don't seem very restricted:
[code]

[2022-04-05 17:37] #1355 closed

[2022-04-05 20:54] HumairAK opened #1864 "Clean up kfdef directory"
We have a bit of a messy state with the kfdef structure here: https://github.com/operate-first/apps/tree/master/kfdefs

Some overlays don't use `base` at all. Because it gets really messy when trying to use json patches on kfdefs, updating them becomes very non-intuitive. Example [here](https://github.com/operate-first/apps/blob/master/kfdefs/overlays/emea/ai4ci/opf-trino/kustomization.yaml#L13).

[2022-04-06 14:42] HumairAK opened #1866 "Upgrade odh components in smaug to 1.1.2"
This will require updating the odh-manifests on the smaug latest branch here: https://github.com/operate-first/odh-manifests/tree/smaug-v1.1.1

A new branch `smaug-v1.1.2` will need to be created with the changes.

Then updating the kfdefs for smaug here: https://github.com/operate-first/apps/tree/master/kfdefs/overlays/moc/smaug
Accordingly.

[2022-04-06 21:07] #1864 closed

[2022-04-07 16:34] #1866 closed

[2022-04-07 21:48] carlosGimeno opened #1876 "Proposal to deploy Stackrox on Operate First/Smaug"
# Context/Introduction
As part of my Co-op project, I am focusing on enhancing security monitoring in Operate First. One of the key actions of this is curating and deploying tools that would focus on this area. For the past months I was focused on researching, adapting and preparing a proposal that might seem acceptable for installing such software. In this sense, I was working on a proposal to de

[2022-04-07 21:48] carlosGimeno commented on #1876
/assign @carlosGimeno

[2022-04-07 21:50] carlosGimeno commented on #1876
/kind feature

[2022-04-07 21:51] carlosGimeno commented on #1876
/area security

[2022-04-07 21:53] carlosGimeno commented on #1876
/cc @dystewart

[2022-04-07 23:04] erikerlandson commented on #1843
`quay.io/os-climate/trino:373` is now available

[2022-04-08 13:48] HumairAK commented on #1876
@carlosGimeno this sounds great, is this something you'd be willing to discuss / present in sig-operations bi-weekly meeting?

[2022-04-08 17:07] sesheta commented on #193
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-08 17:07] sesheta commented on #209
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-08 17:07] sesheta commented on #601
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-08 17:07] #193 closed

[2022-04-08 17:07] #209 closed

[2022-04-08 17:07] sesheta commented on #193
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/193#issuecomment-1093096258):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-08 17:07] sesheta commented on #209
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/209#issuecomment-1093096268):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-08 17:07] #601 closed

[2022-04-08 17:07] sesheta commented on #601
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/601#issuecomment-1093096282):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-08 17:28] sesheta commented on #43
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-08 17:48] HumairAK commented on #1876
@carlosGimeno I see you added a thumbs up -- can you update one of the agenda items here: https://docs.google.com/document/d/1uEcLGP_sBSNwTLPOo_2Nu6oTqPytOTBt0c0_pVUQJwo/edit# whichever date works for you

[2022-04-11 13:07] #1843 closed

[2022-04-11 13:08] HumairAK commented on #1842
seems duplicate of: https://github.com/operate-first/apps/issues/1843

[2022-04-11 13:08] #1842 closed

[2022-04-11 13:29] HumairAK opened #1885 "Add both uppercase and lowercase characters for github usernames in OCP groups"
Adding morty to identitatem management has resulted in an issue where github usernames are now converted to OCP usernames with character casings intact. For instance when logging into Morty cluster now, my username is "HumairAK" instead of "humairak". This is an issue because keycloak converted all names to lowercase and OCP groups are case sensitive, therefore rbac gets affected.

Current suggest

[2022-04-13 13:30] #1454 closed

[2022-04-14 13:55] HumairAK opened #1901 "Add documentation on how users can construct a PR to add an operator"
Docs should give instructions on how to install it via olm on a cluster (add subscription/operator group if needed), or manually (for example how we deploy ODH operator).

[2022-04-14 16:12] sesheta commented on #604
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-14 20:08] sesheta commented on #430
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 20:08] sesheta commented on #793
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 20:08] sesheta commented on #792
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 20:08] #793 closed

[2022-04-14 20:08] #430 closed

[2022-04-14 20:08] #792 closed

[2022-04-14 20:08] sesheta commented on #430
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/430#issuecomment-1099580274):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-14 20:08] sesheta commented on #792
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/792#issuecomment-1099580291):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-14 20:08] sesheta commented on #793
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/793#issuecomment-1099580285):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-15 09:16] MichaelTiemannOSC opened #1905 "Spawn failed for Jupyter Notebooks on OS-Climate CL2"
I tried to spawn "Custom Elyra Notebook" with a 1 CPU / 8GB RAM configuration.  It failed:

![Screen Shot 2022-04-15 at 5 13 29 AM](https://user-images.githubusercontent.com/72577720/163552254-19ed1313-4d57-4ca0-a52a-28575cf6205d.png)

[2022-04-15 10:12] MichaelTiemannOSC commented on #1748
Whatever fix was implemented, it is just not working.  I consider it unacceptable that the RAM size selector is not immediately available with the GPU size selector.  I waste minutes of time every time I have to restart my JupyterHub server, poking at random options, refreshing, starting and stopping until, seemingly at random, I finally get the size selection option.  It should be available from

[2022-04-15 17:29] sesheta commented on #1327
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-15 23:08] sesheta commented on #266
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-15 23:09] #266 closed

[2022-04-15 23:09] sesheta commented on #266
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/266#issuecomment-1100463822):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-04-16 09:15] MichaelTiemannOSC opened #1906 "Why do my kernels die unexpectedly?"
I have a suspicion that my kernels are being reaped when they should not be.  But I don't know how to look at logs to find out.  I strongly doubt that the edits I was making to my notebook at the time were sufficient to knock over the kernel by themselves.

![Screen Shot 2022-04-16 at 5 11 42 AM](https://user-images.githubusercontent.com/72577720/163669300-a4be53cd-740e-4fdc-86ed-63ee998b3316.png)

[2022-04-17 22:13] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 18:01] 4n4nd opened #1907 "[Monitoring][Observatorium][Smaug] remote-write failing in smaug cluster monitoring"
Smaug cluster-monitoring and uwm promethueses cannot remote-write metrics to thanos instance because the oauth configuration might have changed after the cluster update to v4.9

[2022-04-18 19:13] sesheta commented on #1531
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 19:39] MichaelTiemannOSC commented on #1906
I started a fresh Jupyter Notebook this morning, and after lunch I saw that the kernel had died unexpectedly.  I started a new one, which made it through the initialization phase but then died before I could actually do anything with it.  What is killing my kernels?

[2022-04-19 11:23] MichaelTiemannOSC commented on #1906
I did a page refresh which re-started my environment (but didn't require me to restart the server from scratch).  But then this popped up after a few hours of inactivity:

![Screen Shot 2022-04-19 at 7 19 21 AM](https://user-images.githubusercontent.com/72577720/163992472-b4b0b3bd-673d-4042-a6b9-9a09c3f15d65.png)

Doing a page refresh seems to have brought me back to my previous state (with Jupyte

[2022-04-20 09:19] sostrades-dpeltre opened #1912 "How can I change LimitRange and ResourceQuotas [os-cl1 cluster][sostrades-namespace]"
Hello,

For our deployment on Operate-first, on the OS-Climate Cluster, we need more resources.
Medium ResourceQuota is too small for our application and for our namespace. I think LimitRange will also be too low. Our application makes big calculations that require more than 500m cpu and 1000 Mi memory.

I wanted to use a pull request but I didn't know what to modify in this file :
[https://github

[2022-04-20 11:32] MichaelTiemannOSC commented on #1906
As an update to the above, I observed again that when I started a kernel with 1 CPU/8GB RAM, that after initialization it spun up to my notebook page but immediately reported that the kernel died unexpectedly (see https://github.com/operate-first/apps/issues/1906#issuecomment-1101699148).  I did a page refresh, and the running (?) Jupyter hub refreshed the page and I was able to proceed.

[2022-04-20 21:31] HumairAK commented on #1912
Hello, docs for adding a custom resource quota can be found here: https://www.operate-first.cloud/apps/content/cluster-scope/add_resource_quotas.html#adding-a-custom-resource-quota-to-a-namespace

You can add a custom limit range in much the same way. Example [here](https://github.com/operate-first/apps/tree/master/cluster-scope/base/core/namespaces/opf-jupyterhub).

[2022-04-22 14:31] joemoorhouse commented on #1748
Hi, +1 for me on request for a fix please. I'm finding the same thing and struggling to get an instance > 2GB memory currently. Strangely enough this has just started happening for me.
Thanks,
Joe

[2022-04-23 20:09] sesheta commented on #1317
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-23 20:09] sesheta commented on #1357
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-23 20:09] sesheta commented on #1317
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1317#issuecomment-1107641718):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-04-23 20:09] #1317 closed

[2022-04-23 20:09] sesheta commented on #1357
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1357#issuecomment-1107641720):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-04-23 20:09] #1357 closed

[2022-04-25 10:06] MichaelTiemannOSC opened #1918 "JupyterHub container size selector takes a long time to display (osc-cl1/osc-cl2)"
There are several comments in https://github.com/operate-first/apps/issues/1748 saying that the problem is not yet fixed.  It's not yet fixed:
![Screen Shot 2022-04-25 at 6 01 24 AM](https://user-images.githubusercontent.com/72577720/165067779-11b64e1f-f560-4c54-b94e-d0c6f4339d01.png)

There should be no delay when offering the Deployment Size option to start a notebook.  Presently, in the best of

[2022-04-25 10:37] MichaelTiemannOSC commented on #1906
The refresh hack above is not working this morning.  When I refresh after seeing the message that the kernel unexpectedly dies, it comes back to life for a few brief seconds and then dies again unexpectedly.

[2022-04-25 19:19] #1778 closed

[2022-04-26 15:46] #1327 closed

[2022-04-26 15:47] HumairAK commented on #604
/remove-lifecycle stale
/lifecycle frozen

[2022-04-26 16:00] 4n4nd opened #1925 "Deploy Authorino Operator to make securing endpoints easier"
Authorino: https://github.com/Kuadrant/authorino
Authorino Operator: https://github.com/kuadrant/authorino-operator

[2022-04-26 16:10] HumairAK commented on #1905
Never mind it failed for me as well:

![image](https://user-images.githubusercontent.com/10904967/165344929-a25fa472-85b7-42df-874c-c68c2346d588.png)

[2022-04-26 18:57] HumairAK commented on #1905
hrm after retrying I've been unable to reproduce this error, my guess is the notebook server times out trying to reach the hub pod, but without being able to consistently reproduce it, it's a bit difficult to reproduce. Let us know if this is continuously recurring issues.

[2022-04-26 19:08] HumairAK commented on #1918
Seems like at times the container sizes do not display at all. Looking at the console logs error on the front end, we can see:

![image](https://user-images.githubusercontent.com/10904967/165374343-af5f5a30-f968-425a-b4d7-5bfa7e8a0ea8.png)

[2022-04-26 19:13] HumairAK commented on #1918
See gif for how this looks like:
![JH container size delay Peek 2022-04-26 15-10](https://user-images.githubusercontent.com/10904967/165374983-29c1885e-6c9e-4eff-8e2a-00fd9c11ac83.gif)

The first attempt it seems successful, in the second one you can see the error displayed at which point no "container size" shows up.

[2022-04-27 13:01] MichaelTiemannOSC commented on #1748
Using JavaScript console we see two problems: a 404 when attempting to access the sizing API, and no return for the default size of Small.

![Screen Shot 2022-04-27 at 8 59 35 AM](https://user-images.githubusercontent.com/72577720/165523695-cb42c377-d838-4f7a-9ef5-f22ca9453be1.png)

[2022-04-27 13:07] MichaelTiemannOSC commented on #1918
I'm seeing similar things:
![Screen Shot 2022-04-27 at 8 59 35 AM](https://user-images.githubusercontent.com/72577720/165524882-a8a7ac3f-2bda-4c0f-8624-cb3ba79c9841.png)

[2022-04-28 08:57] sostrades-dpeltre commented on #1912
Hello @HumairAK, can you update osc-cl1 cluster please.
My modifications have been merge but I see on argocd that the sync has not been done.
Thanks you and have a good day.

[2022-04-28 13:30] HumairAK commented on #1912
@sostrades-dpeltre it's sync'd now, (auto sync was off, it's turned back on).

[2022-04-28 13:57] #1907 closed

[2022-04-28 16:14] sesheta commented on #1561
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-28 16:56] HumairAK commented on #1561
looks like this was completed, closing

[2022-04-28 23:06] cooktheryan commented on #1531
/remove-lifecycle stale

[2022-04-28 23:47] HumairAK commented on #1531
operator installed, see: https://github.com/operate-first/apps/pull/1932 and https://github.com/operate-first/apps/pull/1933

[2022-04-29 00:58] HumairAK opened #1936 "CRD extensions.dashboard.tekton.dev is part of applications cluster-resources-smaug and default"
Argocd thinks a resource is part of an ArgoCD if it has this label:

`app.kubernetes.io/instance: <app-name>`

The crd resource extensions.dashboard.tekton.dev has this label:

`app.kubernetes.io/instance: default`

But we have it as part of [this app](https://argocd.operate-first.cloud/applications/cluster-resources-smaug).
Because we add it [here](https://github.com/operate-first/apps/blob/maste

[2022-04-29 14:00] MichaelTiemannOSC commented on #1906
It would be nice if, once a kernel is reaped, the dialog box does just say that it died unexpectedly with a dialog box that goes nowhere, but rather a message with a dialog box that routes to the proper re-authorize and re-allocate process.  Right now, when I refresh a stopped kernel, the refreshed page throws a "Bad Gateway" message.  I have to back up in my web history to find a page that refres

[2022-04-29 14:48] HumairAK commented on #1918
@lucferbux or @maroroman do you folks have a suggestion on a workaround here? or things we can attempt to resolve this?

[2022-04-29 15:10] HumairAK opened #1938 "Provision acm cluster set + access for new team"
For gh users:
-  rh-tmichels

Cluster-set name: drvbw

Docs:
https://www.operate-first.cloud/apps/content/acm/manage_your_teams_ocp_clusters_via_acm.html

If this group doesn't exist let's create one, docs: https://www.operate-first.cloud/apps/content/cluster-scope/create_ocp_group.html

[2022-04-29 17:59] MichaelTiemannOSC commented on #1918
I think this is fixed by https://github.com/os-climate/os_c_data_commons/issues/162

[2022-04-29 18:03] HumairAK commented on #1918
@MichaelTiemannOSC that seems like a different issue, but I suppose if the problem is gone then we no longer need this, otherwise please re-open it if you encounter it again.

[2022-04-29 20:32] carlosGimeno commented on #1775
/assign carlosGimeno

[2022-04-29 23:10] sesheta commented on #909
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-29 23:10] #909 closed

[2022-04-29 23:10] sesheta commented on #909
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/909#issuecomment-1113853876):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-05-02 16:20] #1885 closed

[2022-05-02 17:48] HumairAK commented on #1844
@larsks made request to nese folks, have not heard back yet

options:
1. move to smaug as short term solution
2. There is another storage driver for k8s called longhorn, gives volume storage using local volumes

[2022-05-02 18:41] HumairAK opened #1950 "NFD namespace field not applied leading to infinite sync loop in argocd for nfd app"
The `NodeFeatureDiscovery` from here https://github.com/operate-first/apps/blob/master/nfd/base/nfd.yaml#L8 doesn't seem like it's retained when deployed in ocp by argocd, leading to an infinite sync cycle, see here:

https://argocd.operate-first.cloud/applications/nfd-morty?resource=sync%3AOutOfSync&node=nfd.openshift.io%2FNodeFeatureDiscovery%2Fopenshift-nfd%2Fnfd-instance%2F0

[2022-05-02 19:00] #1950 closed

[2022-05-02 19:14] HumairAK opened #1952 "opf-kafka-smaug argocd app out of sync and in degraded state"
See here: https://argocd.operate-first.cloud/applications/opf-kafka-smaug?resource=sync%3AOutOfSync

https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/opf-kafka/pods

odh-message-bus-kafka-3 on crashloop, maybe that's why?

[2022-05-02 19:26] HumairAK opened #1953 "Bring OSC clusters under operate-first auth"
ATM provisioning access to OSC clusters requires:
- must be an OSC [github org member](https://github.com/os-climate)   (Only org owners seem to be able to hand out this access?)
- must be in the OSC github org team: `odh-env-users` : https://github.com/orgs/os-climate/teams/odh-env-users

Note that access to actual services on the cluster is further gated by OCP rbac restrictions. E.g. you cannot

[2022-05-02 19:58] dystewart commented on #1953
/assign

[2022-05-03 13:55] HumairAK opened #1956 "Install new OCP cluster on the Community Cage at RDU2"
We now have ~14 1U servers in the RDU2 Community Cage.

They are waiting on their DNS names to be decided, with the proposal  server[1-14].rdu2.operate-first.cloud.

Once done I believe we'll be ready to install OCP on those machines.

[2022-05-03 15:24] HumairAK opened #1957 "Create an exploration type of notebook to see what data we have available w.r.t onboarding applications, and what are some possible metric definitions."
Furthers: https://github.com/operate-first/support/issues/571

[2022-05-03 15:25] HumairAK commented on #1957
@chauhankaranraj can you flesh this issue out

[2022-05-03 16:14] sesheta commented on #1551
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 19:09] HumairAK opened #1958 "Openshift Pipeline Feature flags being overwritten by operator"
To enable KFP with Tekton Backend on Smaug/OSC clusters, we've had to patch the feature flags from openshift-pipelines as per the instructions here: https://github.com/kubeflow/kfp-tekton/blob/master/guides/kfp_tekton_install.md#standalone-kubeflow-pipelines-with-tekton-backend-deployment

We do this in the apps repo [here](https://github.com/operate-first/apps/blob/master/cluster-scope/bundles/op

[2022-05-05 16:21] HumairAK commented on #1938
Tried giving credential permissions to this team (which basically boils down to giving the team the ability to create secrets in any namespace) https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.4/html/access_control/access-control#credentials-role-based-access-control

And this did not seem to work, user still encounters:

![image](https://user-imag

[2022-05-06 06:58] first-operator[bot] opened #1964 "add Grafana resource to allow-list of smaug"
This is a Slack discussion you wanted me to capture.

*Acceptance Criteria*

- [ ] integreatly.org/{Grafana|GrafanaDataSource} added to https://github.com/operate-first/apps/blob/master/argocd/overlays/moc-infra/projects/global_project.yaml
- [ ] https://argocd.operate-first.cloud/applications/racing-smaug?resource=&operation=false does not show Grafana related sync errors

_Transcript of Slack th

[2022-05-06 07:03] goern commented on #1964
https://argocd.operate-first.cloud/applications/racing-smaug?resource=&operation=false

[2022-05-06 07:04] goern commented on #1964
/kind feature
/priority important-soon
/sig devops

[2022-05-08 16:14] sesheta commented on #1295
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-08 20:11] sesheta commented on #43
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-08 20:12] #43 closed

[2022-05-08 20:12] sesheta commented on #43
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/43#issuecomment-1120480272):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-05-09 17:19] HumairAK opened #1968 "Provide odh dashboard (or alternative) for services deployed on OSC-CL1 and OSC-CL2"
More details here: https://github.com/operate-first/apps/issues/new

See if ODH dashboard can be reused, we need an option to also add additional non-odh links. If we can't easily modify odh dashboard for this, let's find an alternative, it can be very bare bones, nothing too complex. Should be able to stand up easily/fast. Should be hosted on one of the osc-cl* clusters.

[2022-05-09 17:22] HumairAK opened #1969 "Deploy (linkedIn) Data Hub or OpenMetadata to osc-cl1"
Ask from OSC is to deploy one of the following on osc-cl1:

https://github.com/os-climate/os_c_data_commons/issues/80
https://github.com/os-climate/os_c_data_commons/issues/163

Already have a namespace created for the linkedin datahub. Just need to kustomize-ify the deployment and confirm it works. Lots of dependent services, so if it's very involved the laternative can be openmetadata.

[2022-05-09 17:24] #1968 closed

[2022-05-09 19:15] sesheta commented on #1210
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-10 18:05] HumairAK commented on #1938
from slack:

[2022-05-10 18:05] #1938 closed

[2022-05-11 13:30] HumairAK opened #1973 "osc-cl2 api and router certs have expired, they need to be updated"
They were updated manually by @redmikhail on live, the cluster-resources-osc-cl2 argocd app is off autosync. These need to be brough in git so the app can be turned back on.

[2022-05-12 02:36] caldeirav opened #1974 "Add cert manager for osc-cl2 and osc-cl1"
Edit by @HumairAK :

Related: https://github.com/operate-first/support/issues/1006

[2022-05-12 14:51] HumairAK opened #1975 "Set up a slack channel with filter based alerts"
**Context**:

While we figure out what to do with the `alerts` repo and if we can bring it under control. We need an alternative that will notify us in a channel critical alerts that will not be flooded and can be easily controlled.

**Related**:

- https://github.com/operate-first/operations/issues/468

**Acceptance criteria**:

- Slack channel created called `#alerts`
- Start with adding *critic

[2022-05-12 16:15] sesheta commented on #1614
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-12 19:54] HumairAK opened #1979 "Smaug machines stuck on Provisioned"
We have 2 machines on smaug stuck on provisioned state:

[code]

resulting in:
https://console-openshift-console.apps.smaug.na.operate-first.cloud/monitoring/alerts?rowFilter-alert-state=firing&rowFilter-alert-source=platform&resource-list-text=machine

closest thing I found for a workaround was: https://access.redhat.com/solutions/5297401 but this seems to be talking about vms

[2022-05-13 16:22] HumairAK commented on #1936
@harshad16 any updates ?

[2022-05-13 16:24] harshad16 commented on #1936
i will get this in soon
was caught up with other work.

[2022-05-13 18:49] HumairAK opened #1982 "ACME operator having issues securint odh dashboard route"
Logs:

[code]

From:
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/acme-operator/pods/openshift-acme-54496d7cc7-wrnqm/logs

[2022-05-13 18:55] HumairAK commented on #1982
The cname record was mapped to the wrong route (old zero cluster route.) this is fixed now.

[2022-05-13 18:55] #1982 closed

[2022-05-16 12:26] harshad16 commented on #1936
The resource is not being installed by any other app.
The CRD itself was added in the repo with label `app.kubernetes.io/instance: default` which is checked by agrocd for instance duplication.

[2022-05-16 12:53] #1936 closed

[2022-05-17 17:17] HumairAK opened #1992 "Add documentation on how to use vault on operate first"
Docs should focus on the cluster admin persona for now. Project admin persona is less critical right now and not high priority.

Explain how admins can get access to vault and ESO to store their secrets securely in the vault instance. What manifests need to be created?

Who needs to be contacted for changes/additions vault side?

Related: https://github.com/operate-first/support/issues/298

[2022-05-17 17:24] HumairAK opened #1993 "Add OCP group access to vault restricted by cluster environment"
Add the following groups:

- vault admin
- vault emea admin
- vault moc admin
- vault osc admin

Vault admin should have something similar to root access in vault. The remaining groups should have admin level privileges to their respective kv secrets engine. Populate these groups accordingly.

Add vault groups + group aliases that correspond to these ocp groups.

End result should be that adding a

[2022-05-17 19:15] sesheta commented on #1617
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 20:16] HumairAK commented on #1617
/remove-lifecycle stale

[2022-05-17 23:35] sesheta commented on #17
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-18 13:56] HumairAK opened #1996 "Replace all secrets in apps repo with external secrets"
Follow up to: https://github.com/operate-first/support/issues/298

Now that we have a configuration setup for smaug cluster between eso and hashicorp vault. Let's deploy ESO on remaining clusters and replace all the secrets in the apps repo with external secrets.

For non `kind=secret` resources that have confidential data, we will have to wait for patch operator to see if that can serve as a work

[2022-05-18 13:57] #1993 closed

[2022-05-18 14:18] dystewart opened #1997 "Create backup of Vault & Migrate Vault server to Infra cluster"
Once #1844 is resolved, we will be moving Hashicorp Vault from the Smaug cluster to the infra cluster.

In order to do this we will need to create a snapshot of vault: [https://learn.hashicorp.com/tutorials/vault/sop-backup](https://learn.hashicorp.com/tutorials/vault/sop-backup)

Then we should be able to restore the state in the infra cluster with this snapshot using: [https://learn.hashicorp.co

[2022-05-18 17:11] HumairAK opened #1998 "Balrog cluster ingress unsecured, certmanager acme challenge refused"
logs from cert-manager:

[code]

Also noticed balrog certmanager manifests are not being deployed by argocd.

## Acceptance criteria:

- [x] fix propagation errors above
- [ ] deploy custom cert-manager for ocp deployed via aws using dns01 challenge via route53
- [x] add argocd app for balrog cert manager resources (https://github.com/operate-first/apps/issues/1999)

[2022-05-18 17:11] HumairAK commented on #1998
this is preventing balrog from authenticating against vault due to unsigned cert errors.

[2022-05-18 22:28] HumairAK commented on #1998
Related issues:

- https://github.com/cert-manager/cert-manager/issues/1933
- https://github.com/cert-manager/cert-manager/issues/3307

I can confirm that setting another dns resolver (e.g. 1.1.1.1) works. But the issue is that this needs to be set as a flag on the deployment, which we can't control because cert-manager is managed by olm.

The only solution here is to manually deploy cert-manager

[2022-05-18 23:58] #1119 closed

[2022-05-23 15:32] MichaelTiemannOSC opened #2009 "Python 3.6 too old for pandas, pint, etc."
This concerns the Jupyter Notebook options presented to the user when starting an OS-Climate JupyterLab startup screen (probably somewhere around here: https://github.com/operate-first/apps/tree/master/kfdefs/overlays/osc/osc-cl2/jupyterhub).

We debugged that a simple notebook creating a pandas dataframe containing Pint quantities was not working because the Python version offered by the Minimal

[2022-05-23 19:16] sesheta commented on #1649
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-24 09:54] raz-mon opened #2012 "Can't get persona access token"
Hi,

I can't get my access token, it seems that this [link ](https://console-openshift-console.apps.smaug.na.operate-first.cloud/) is down.

Would love your help with this.

Thanks

[2022-05-24 14:34] chauhankaranraj commented on #1957
Just realized I can't edit the issue description, so adding it here :)

As a product owner,
I want to understand what kind of data can be collected from opf github repos wrt onboarding, and explore it,
So that I can determine what are some possible metrics/dimensions I can define to evaluate the onboarding process

**Acceptance Criteria**
- [ ] notebook to collect onboarding related issues and prs

[2022-05-24 18:44] oindrillac opened #2014 "Open Infra Summit Demo on Operate First"
@aakankshaduggal and I presenting a demo at Open Infra Summit in 2 weeks which showcases the Operate First community cloud and services. We plan to use the following services on Operate First for our demo:

- Kubeflow pipelines on osc-cl2
- opf-datacatalog bucket
- JupyterHub on smaug
- Trino on smaug
- Cloudbeaver on smaug
- Superset on smaug

I see there's an outage until May 26th. Will the serv

[2022-05-24 19:29] HumairAK commented on #2012
Hello @raz-mon see: https://github.com/operate-first/operations/issues/478

[2022-05-24 19:29] #2012 closed

[2022-05-24 19:42] HumairAK commented on #2014
This is the plan yes.

Nope there is not.

Is this something that's needed on smaug? I ask since everything else seems to be on smaug. We have an instance there we can fix up (this was blocked previously due to an ocp upgrade that has since been resolved) ?

[2022-05-25 08:17] raz-mon commented on #2012
Thanks!

[2022-05-25 19:17] oindrillac commented on #2014
Thanks for the response @HumairAK! Sorry, I didn't realize I opened this on the apps repo. 😱  I am assuming support would have been a better location.

Not necessarily. If we can get a different bucket to work with the kfp on cl2, that would also work. Currently, just facing some issues with getting kfp to run succesfully on cl2. We can get the rest of the demo using services on smaug when its bac

[2022-05-26 20:54] sesheta commented on #1654
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-27 05:54] sesheta commented on #1665
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-30 21:50] sesheta commented on #1662
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-30 23:58] RobotSail opened #2018 "Update mysql deployment"
`@kfp-tekton/base/deployments/mysql.yaml`

Update the deployment to use `mysql-persistent-storage-backup` as storage.

[2022-05-31 15:14] HumairAK commented on #1665
/remove-lifecycle stale

[2022-06-01 00:57] sesheta commented on #1382
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-05 16:00] sesheta commented on #1410
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-05 19:00] sesheta commented on #1699
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-05 22:00] sesheta commented on #1677
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-06 18:07] HumairAK opened #2032 "Create an example overlay template for new clusters"
When adding a new cluster, it helps to have a sample overlay directory to base the cluster off. This template can potentially also be used by automation tools to add new clusters.

The sample folder should go in apps/cluster-scope/overlays/prod/

And should pull in items from base that we expect _every_ cluster to have. As well as include any new resources that the new cluster should deploy.

[2022-06-07 15:54] HumairAK opened #2035 "Create dashboard for measuring onboarding/service turnaround & performance data."
We should look to embed this on the operate-first website.

First confirm whether we can use superset dashboards for this that can be made publicly available and then be embedded on the website.

If not, we will need to explore other options.

[2022-06-07 15:57] HumairAK opened #2036 "Deploy backstage on smaug cluster"
After investigating backstage (see [here](https://github.com/operate-first/support/issues/578)), we are now confirmed with going ahead with this as our service catalog solution.

Let's start with deploying backstage onto the smaug cluster. As an initial step, read-only mode is sufficient. And we can iterate on it.

[2022-06-07 16:01] sesheta commented on #1646
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-07 16:07] HumairAK commented on #1662
we have a public grafana instance now for public dashboards https://github.com/operate-first/apps/tree/master/grafana/overlays/moc/smaug-public

[2022-06-07 16:07] #1662 closed

[2022-06-07 17:54] HumairAK commented on #1699
/remove-lifecycle stale

[2022-06-07 18:48] sesheta commented on #1295
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-07 22:01] sesheta commented on #1413
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 01:01] sesheta commented on #502
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 15:09] dystewart opened #2039 "Clean up cluster-admins roles/rolebindings"
With #2038 we identified that there are multiple cluster-admins rolebindings per cluster.
We need to remove all remove all unnecessary cluster admin role bindings to simplify and clean up the rbac.

[2022-06-08 15:19] dystewart opened #2041 "Clean up groups in clusters"
We need to clean up groups in the apps repo.

To do this we should:

- Come up with a standard set of group names
- Document the naming conventions for groups in OPF gitops docs
- Move all groups to overlays (define users in groups at overlays not base)

To start take a look at the [cluster-admins](https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/cluste

[2022-06-08 21:48] sesheta commented on #1210
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-09 19:01] first-operator[bot] opened #2048 "TimeOut error on the loki while querying logs"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1653679934280489?thread_ts=1653679934.280489&cid=C01RMPVUUK1_

[2022-06-10 15:28] HumairAK commented on #2014
@oindrillac as the demo is done, this can be closed now yes?

[2022-06-10 16:16] HumairAK opened #2051 "Make dex and dex routes secure"
We should use http instead of https for all clusters.

This will require updating all apps that are using dex, namely das/trino/superset.

Also remove sops secrets from dex in the process and leverage vault instead. (related #1996 )

[2022-06-10 16:27] #2051 closed

[2022-06-10 18:01] HumairAK opened #2054 "Grafana app in smaug not syncing correctly"
App link: https://argocd.operate-first.cloud/applications/grafana-smaug

Note the change:

[code]

When sync'd, this change fails to apply (or is being overwritten). Turning on auto sync for this app thus results in an infinite sync loop.

## Acceptance criteria:
- [x] Grafana app should sync correctly

[2022-06-11 18:48] sesheta commented on #1614
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-12 22:01] sesheta commented on #1516
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 16:51] schwesig commented on #1382
other links are outdated / page has changed structure
https://www.operate-first.cloud/

[2022-06-13 16:55] schwesig commented on #1382
/remove-lifecycle stale

[2022-06-13 16:55] schwesig commented on #1382
/cc @HumairAK

[2022-06-13 18:52] dystewart commented on #1540
@redmikhail @HumairAK Tagging here to further discuss the grafana crd sensitive fields. @redmikhail could you provide a link to where you saw the added environment variable support for the grafana CRD as discussed in the Ops meeting?

[2022-06-13 21:38] redmikhail commented on #1540
@dystewart One of the places where credentials would be present in Grafana in clear text  is DataSource CR. Grafana operator team has implemented mechanism to use environment variables stored as K8S secret in   https://github.com/grafana-operator/grafana-operator/issues/226 . It is specific for Grafana and I am not sure if it solves all use-cases where we needed to include sensitive information in

[2022-06-14 17:52] #1969 closed

[2022-06-15 16:01] sesheta commented on #1752
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-15 16:02] #2014 closed

[2022-06-15 16:03] HumairAK commented on #2014
Closing, please re-open if there's more to do here.

[2022-06-15 17:44] HumairAK opened #2061 "Remove the requirement to be in operate-first org for cluster authentication"
This introduces an extra step to onboarding that I'm not sure we need. This wasn't the case before, but was introduced when switching to identitatem:

https://github.com/operate-first/apps/blob/master/acm/overlays/moc/infra/identitatem/authrealms/primary.yaml#L12

[2022-06-15 18:05] dystewart commented on #2039
Once #2038 is merged the cluster-admins group will be empty in all clusters thus can be removed. Additionally, we won't have need for the cluster-admins-rb rolebinding so that can also be removed.

[2022-06-15 19:01] sesheta commented on #1461
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-16 14:54] harshad16 opened #2064 "[Tracker] enable critical project to function by temporay fix of storages"
As there is an access issue going on for the object bucket claim, issue: [object storage incident](https://github.com/operate-first/support/issues/648)

Multiple critical projects are affected by this, try temporary fixes to get them available.
- [x] Prow CI (opf-ci-prow): move the object storage to morty
- [x] image-registry (openshift-image-registry): move the object storage to morty
- [x] loki(

[2022-06-16 15:08] HumairAK commented on #1445
We'll likely not be moving ahead with notebooks, so this is not a high priority atm.

[2022-06-16 15:08] #1445 closed

[2022-06-16 21:02] harshad16 commented on #2054
sync is working well now.

[2022-06-16 21:02] #2054 closed

[2022-06-17 00:40] sesheta commented on #17
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-17 00:40] #17 closed

[2022-06-17 00:40] sesheta commented on #17
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/17#issuecomment-1158345743):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-06-17 18:58] dystewart opened #2076 "Permissions issues when impersonating users in groups"
In the smaug cluster, when impersonating a user is a group, say the Curator group, the group's permissions are not extended to the impersonator.

That is users in the curator group have curator admin access in curator namespaces but the same is not true for an admin impersonating a user in the group

[2022-06-17 19:01] dystewart commented on #2076
@HumairAK I'd like to try adding just myself to the sudoers group in smaug since the impersonation using the sudoers role in the morty cluster does not seem to have these issues.

In other words I want to try impersonating the user after granting myself admin access via system:admin through sudoer role and see if the behavior is different

[2022-06-17 19:35] HumairAK opened #2077 "Create a cronjob that snapshots smaug vault instance and writes them to reliable store"
Vault instance: vault-ui-vault.apps.smaug.na.operate-first.cloud/
OCP Namespace: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/vault/pods

Docs: https://learn.hashicorp.com/tutorials/vault/sop-backup?in=vault/standard-procedures#single-vault-cluster
(We have a single vault cluster)

Can start with writing a snapshot and writing to s3 storage every 30 min, have some sor

[2022-06-17 19:36] HumairAK commented on #2077
When taking a snapshot I sometimes encounter:

[code]

Though trying again seems to work. Not sure what the cause is but the job can/should make a few attempts to snapshot in the case of failure.

[2022-06-19 16:01] sesheta commented on #1766
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 14:50] HumairAK commented on #1979
@rbo

[2022-06-21 14:59] rbo commented on #1979
Here an example of how to create an iso that's boots install and try to join the cluster:
[code]

[2022-06-21 19:36] #2048 closed

[2022-06-23 08:15] SamoKopecky commented on #2036
Service is deployed at service-catalog.operate-first.cloud/

[2022-06-23 19:02] sesheta commented on #1802
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-24 14:51] HumairAK commented on #1465
stale, closing.

[2022-06-24 14:51] #1465 closed

[2022-06-24 14:52] HumairAK commented on #1516
we're unlikely to move forward with notebook as an automation solution, closing.

[2022-06-24 14:53] HumairAK commented on #1295
/remove-lifecycle stale

[2022-06-24 14:53] HumairAK commented on #1295
/remove-lifecycle rotten

[2022-06-24 14:55] #1210 closed

[2022-06-24 14:56] HumairAK commented on #1461
/remove-lifecycle stale

[2022-06-24 14:58] HumairAK commented on #1802
/remove-lifecycle stale

[2022-06-24 15:01] #2036 closed

[2022-06-24 15:04] #1649 closed

[2022-06-27 13:33] sallyom opened #2095 "add documentation on distributed tracing platform deployed to Smaug"
add overdue documentation on the installed distributed tracing platform

[2022-06-27 19:02] sesheta commented on #1471
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-27 20:27] sallyom opened #2099 "Add the opentelemetry collector operator (RH distributed tracing data collection operator) to Smaug"
@HumairAK this is an operator that should be available on Operator Hub
https://docs.openshift.com/container-platform/4.9/distr_tracing/distr_tracing_install/distr-tracing-installing.html?extIdCarryOver=true&sc_cid=701f2000001Css5AAC#distr-tracing-install-otel-operator_install-distributed-tracing
Hopefully, this will be easy to install in Smaug!
Once installed, users can deploy in their own namespa

[2022-06-28 13:55] HumairAK commented on #1471
I believe this is now complete. Feel free to re open if any items are left.

[2022-06-28 13:55] #1471 closed

[2022-06-29 16:02] sesheta commented on #1652
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-30 19:23] #2077 closed

[2022-06-30 19:28] HumairAK commented on #1973
resolved by: https://github.com/operate-first/apps/pull/2060

[2022-06-30 19:28] #1973 closed

[2022-07-03 03:42] sesheta commented on #1551
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-03 03:42] #1551 closed

[2022-07-03 03:42] sesheta commented on #1551
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1551#issuecomment-1173005388):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-07-05 13:35] HumairAK opened #2116 "Collect all kubeadmin credentials for all clusters to bit warden"
As discussed in our last sig ops meeting, we would like to have all cluster kube admin creds on bit warden where all relevant parties have access to it, as a failsafe for authentication.

[2022-07-05 14:28] HumairAK commented on #1979
Will try to ssh into these stuck nodes and rebooting them first

[2022-07-05 18:35] harshad16 commented on #1752
/remove-lifecycle stale
/triage accepted

we would take this one to learn the process of monitoring.

[2022-07-05 18:50] sesheta commented on #1410
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-06 00:50] sesheta commented on #1677
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-06 16:18] HumairAK commented on #1677
/remove-lifecycle rotten

[2022-07-07 18:50] sesheta commented on #1646
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-07 19:03] sesheta commented on #1876
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-10 11:39] MichaelTiemannOSC commented on #1905
My attempt to start a memory-intensive (4 CPU / 32GB) + 3x GPU notebook spawns are failing:

[code]

It ultimately times out after 10 minutes.  Surely there's not too much contention for such resources on a Sunday morning of a month littered with holidays.

[2022-07-10 11:55] MichaelTiemannOSC commented on #1905
Fails with the same messages for 1 CPU / 2 GPU.  I suspect that the JupyterHub cluster needs to be reset.

@operate-first/odh is it correct to tag you concerning these problems?

[2022-07-10 13:01] MichaelTiemannOSC commented on #1918
This issue is back and worse than ever.

[2022-07-11 21:42] sesheta commented on #1614
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-11 21:42] sesheta commented on #1614
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1614#issuecomment-1180899478):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-07-11 21:42] #1614 closed

[2022-07-12 17:00] HumairAK opened #2132 "Grafana Operator in smaug crashlooping"
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/opf-monitoring/pods/grafana-operator-controller-manager-7d559645db-g4sw6

As a consequence dashboards are not being added

[2022-07-12 17:02] harshad16 commented on #2132
![Screenshot from 2022-07-12 13-02-17](https://user-images.githubusercontent.com/14028058/178550671-c6246eb8-e4b1-4981-b12e-f24661acd591.png)

[2022-07-12 17:10] harshad16 commented on #2132
There doesnt seems to be any breaking changes known
https://github.com/grafana-operator/grafana-operator/releases/tag/v4.5.0

[2022-07-13 03:19] harshad16 commented on #2132
![Screenshot from 2022-07-12 23-12-34](https://user-images.githubusercontent.com/14028058/178642867-6216b9e8-7510-42dd-bafa-15b8c334c7bb.png)

As grafana dashboard was causing the hindrance to grafana operator update.
The removal of grafana dashboard has helped succesfful update of the grafana operator
we have re-synced the dashboard, the operator is stable now.

This has solved the crash looping.

[2022-07-13 14:59] MichaelTiemannOSC commented on #1918
This morning the issue in CL2 seems fixed--the lag to display the size option (which was remembered from my previous day's work) was less than 1 second.  Thanks!  Will close if the fix sticks.

[2022-07-13 15:40] MichaelTiemannOSC commented on #1918
I spoke too soon: the 32GB configuration that was presented was a lie--the notebook started with 2GB, which then crashed when more memory was required.  I'm now trying to resstart and get a proper 32GB notebook.  But I'm now waiting minutes for it to come back with options I can choose.

[2022-07-13 18:51] sesheta commented on #1382
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-14 12:49] MichaelTiemannOSC opened #2137 "A user cannot get configuration options to start OSC notebook"
@patryciabp reports that she gets this message when attempting to start a notebook.  I believe this is a new issue.  If there is a better way to report this issue than to this issues queue, the message should be changed so that the appropriate issue queue is presented, rather than the vague "consult your system administrator".

![image](https://user-images.githubusercontent.com/72577720/178985044-

[2022-07-14 12:49] sesheta commented on #2137
@MichaelTiemannOSC: GitHub didn't allow me to assign the following users: rynofinn.

Note that only [operate-first members](https://github.com/orgs/operate-first/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/c

[2022-07-14 17:44] ravitejamanepalli commented on #1677
[[](https://github.com/SeldonIO/seldon-core/blob/master/doc/source/analytics/analytics.md
](url)

Requests from the service orchestrator to a component, e.g., a model
seldon_api_executor_client_requests_seconds_count    (bucket,count,sum) - histogram type metric
seldon_api_executor_client_requests_seconds_summary_(count,sum) - summary type metric

[2022-07-14 19:27] MichaelTiemannOSC commented on #2137
It was CL1.  It worked on CL2.

[2022-07-14 20:14] HumairAK commented on #2137
Rebooted JH on osc-cl1, seems to work now. @MichaelTiemannOSC can you confirm the issue is resolved?

[2022-07-15 10:01] patryciabp commented on #2137
Yes, @HumairAK. It is working on CL2. Thanks!

[2022-07-15 13:32] HumairAK commented on #2137
Thanks @patryciabp -- what about on os-cl1? Are you able to see different notebook options here: 	https://jupyterhub-odh-jupyterhub.apps.odh-cl1.apps.os-climate.or ?

[2022-07-15 13:42] harshad16 commented on #2132
Reopening as this is still happening. Reference: https://github.com/operate-first/support/issues/609

[2022-07-15 14:04] MichaelTiemannOSC commented on #2137
Un-Typo'd URL: https://jupyterhub-odh-jupyterhub.apps.odh-cl1.apps.os-climate.org/

[2022-07-16 09:36] MichaelTiemannOSC commented on #2137
Not all is well with CL1:

[code]

On the other hand, we're trying to retire CL1 in favor of CL2, and the user in this case has a working environment on CL2.  So maybe close this out as not being a problem to pursue, though other users may open other reports that might need attention.

[2022-07-16 11:21] MichaelTiemannOSC commented on #1918
I'm looking at the two YAML files that populate these lists, and notice a difference:

https://github.com/operate-first/apps/blob/master/kfdefs/overlays/osc/osc-cl2/jupyterhub/profiles/singleuser-profiles-container-sizes.yaml begins:

[code]

https://github.com/operate-first/apps/blob/master/kfdefs/overlays/osc/osc-cl2/jupyterhub/profiles/singleuser-profiles-gpu-ui.yaml contains:

[code]

Would it

[2022-07-18 17:45] harshad16 opened #2151 "Use of loki operator in the logs stored"
We are currently deploying Loki based on deployment manifests and maintaining them.
There seems to be an official [loki operator](https://github.com/grafana/loki/tree/main/operator) available, maybe it would be great to check if it could make our life easier.

[2022-07-19 17:02] harshad16 commented on #2132
On further investigation found the issue is happening regarding the dashboard sync with grafana.
The grafana operator is unable access the api folder from grafana.
`ERROR failed to get or create namespace folder for dashboard {"folder": "thoth-station", "dashboard": "pulp-metrics", "error": "error creating folder, expected status 200 but got 409"}`
`ERROR failed to get or create namespace folder f

[2022-07-19 18:28] harshad16 commented on #2132
Operator error logs for reference:
[grafana-operator-controller-manager-7d559645db-6p79p-manager (1).log](https://github.com/operate-first/apps/files/9143727/grafana-operator-controller-manager-7d559645db-6p79p-manager.1.log)
[grafana-operator-controller-manager-7d559645db-6p79p-manager.log](https://github.com/operate-
first/apps/files/9143728/grafana-operator-controller-manager-7d559645db-6p79p-m

[2022-07-19 18:51] sesheta commented on #1766
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 07:13] MichaelTiemannOSC commented on #2137
Seems resolved...Closing.

[2022-07-21 07:13] #2137 closed

[2022-07-25 17:20] harshad16 commented on #2132
With the release of Operator [v.4.5.1 ](https://github.com/grafana-operator/grafana-operator/releases/tag/v4.5.1)
The system is now stable.

[2022-07-25 17:20] #2132 closed

[2022-07-25 17:55] Gregory-Pereira commented on #1998
/cc @Gregory-Pereira

[2022-07-26 12:37] DaBeIDS commented on #1918
I had the same problem as Michael mentioned before. After 20-30 seconds the container size appears.

[2022-07-28 01:05] sesheta commented on #1531
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-29 18:52] sesheta commented on #1652
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-31 19:05] sesheta commented on #1844
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 19:05] sesheta commented on #1901
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 19:05] sesheta commented on #1849
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 22:05] sesheta commented on #1952
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 13:36] dystewart commented on #1901
/remove-lifecycle stale

[2022-08-01 14:38] durandom opened #2206 "add cooktheryan to access ACM"
@cooktheryan should be able to access https://multicloud-console.apps.moc-infra.massopen.cloud/ and deploy clusters to AWS

[2022-08-01 15:28] sallyom commented on #1531
@HumairAK this issue is resolved w/ jaeger + opentelemetry collector running in smaug, should we close this now?

[2022-08-01 16:05] sesheta commented on #1956
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 18:09] HumairAK opened #2210 "Vault backup job failing"
see failed jobs here: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/vault/pods?orderBy=desc&sortBy=Created

it's failing at [step 2](https://github.com/operate-first/apps/blob/master/vault/overlays/moc/smaug/backup-job/task.yaml#L67)

My guess the s3 connectivity is not work, we should confirm first that the morty bucket as described [here](https://console-openshift-co

[2022-08-01 19:05] sesheta commented on #1953
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 22:05] sesheta commented on #1958
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 06:56] durandom opened #2213 "add precommit documentation to contributing guidelines"
add a section similar to https://github.com/thoth-station/core/blob/master/CONTRIBUTING.md#requirements-for-pull-requests-pr to our contributing.md

[2022-08-02 07:14] durandom opened #2214 "DNS for IONOS cluster"
I'm setting up a cluster in https://github.com/operate-first/ionos-openshift
This is similar to the Hetzner setup. IONOS is a cloud provider in EMEA

[code]

are the available IPs.

Can I get

1. generic reverse DNS entries for those ips - maybe an entry containing the IP, like `80.203.215.85.ionos.operate-first.cloud`
2. the required reverse DNS setup for deploying clusters into IONOS - not sure

[2022-08-03 08:19] durandom opened #2218 "move workloads off of morty"
since morty is currently down and we only have a limited budget left to support this cluster, I want to move all workloads off of morty and to smaug.

https://github.com/operate-first/operations/issues/490

[2022-08-03 08:27] durandom commented on #2218
the storage remains available until 2022-09-02
let's set that as our decomission date for the whole cluster

[2022-08-03 13:52] durandom commented on #2064
@harshad16 @HumairAK IIRC the storage issue with smaug has been resolved. Can we move the object storage, now that morty is down?
Would it be enough to just revert the PRs linked here?

[2022-08-03 13:54] harshad16 commented on #2064
Depends if the storage bucket are same in the smaug cluster, if they were not changed, then yes :)

[2022-08-03 16:05] sesheta commented on #1906
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-04 07:05] sesheta commented on #1964
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-04 20:13] MichaelTiemannOSC commented on #1906
I haven't see this lately, so will close here and open fresh case if the problem arises again.

[2022-08-04 20:13] #1906 closed

[2022-08-04 21:44] sesheta commented on #1410
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-04 21:45] #1410 closed

[2022-08-04 21:45] sesheta commented on #1410
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1410#issuecomment-1205800291):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-08-05 14:33] HumairAK commented on #1958
this is resolved, we used tekton config resource to apply changes to the configmap instead.

[2022-08-05 14:33] #1958 closed

[2022-08-06 21:45] sesheta commented on #1646
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-06 21:45] sesheta commented on #1646
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1646#issuecomment-1207287159):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-08-06 21:45] #1646 closed

[2022-08-06 21:54] sesheta commented on #1876
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-08 14:32] HumairAK commented on #2213
We have some [here](https://github.com/operate-first/apps/blob/master/contributing.md#tests) anything in particular that's missing in your opionion?

[2022-08-08 17:51] Gregory-Pereira commented on #1752
Are we still doing this as we will be decommissioning the `Morty` cluster in 3 weeks?

[2022-08-08 18:32] #2206 closed

[2022-08-08 19:26] HumairAK commented on #1752
Nope! closing

[2022-08-08 19:26] #1752 closed

[2022-08-10 15:03] dystewart opened #2236 "Operatorhub.io catalog source provides broken banzaicloud vault operator"
The 'catalogSource' installed in Smaug in #1640.
The image being pointed to in the catalogsource being used by the NERC folks (who have a working vault operator) is different than the one we are pointing to: see [our operatorhub.io catalogsource image](https://github.com/operate-first/apps/blob/5b3c2ce6d4ff2613dccb2156a65f6b028f46d737/cluster-scope/base/operators.coreos.com/catalogsources/operator

[2022-08-10 16:06] sesheta commented on #1974
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-10 17:58] HumairAK commented on #1974
/remove-lifecycle stale

[2022-08-11 16:23] traytorous opened #2249 "Update app documentation for creating OCP groups and gain namespace permission"
Update the README.md file with detailed information pertaining to creating an OCP group and gaining namespace permissions.

[2022-08-11 16:26] traytorous commented on #2249
links related to this issue:
* https://www.operate-first.cloud/apps/CONTRIBUTING.html
* https://www.operate-first.cloud/apps/content/cluster-scope/README.html

[2022-08-12 10:42] MichaelTiemannOSC opened #2250 "JupyterHub size selection remembered, then forgotten"
A notebook I started yesterday was reaped this morning.  I went to restart it, and the Container Size parameter (1 CPU / 8GB RAM) seemed to be remembered.  Yay!  I then started the notebook, only to find that the promised selection was not, in fact, communicated back to the initialization routine.  It started instead a notebook with 2GB RAM default, which is too small to even resume the notebook(s

[2022-08-12 21:45] sesheta commented on #1382
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-12 21:45] #1382 closed

[2022-08-12 21:45] sesheta commented on #1382
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/apps/issues/1382#issuecomment-1213542289):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-08-13 10:50] MichaelTiemannOSC commented on #2009
The latest spawn window on CL2 no longer advertises Py3.6.

[2022-08-14 18:16] MichaelTiemannOSC commented on #2009
My bad: `Minimal Python Python v3.6.8` is still there...it just moved from the bottom of the first column to the top of the 2nd column.  Offering Python 3.6 is just asking for trouble.

[2022-08-16 07:37] MichaelTiemannOSC commented on #2009
This is the file that should be updated to offering a more modern version of Python: https://github.com/operate-first/apps/blob/master/kfdefs/base/jupyterhub/notebook-images/s2i-spark3.0.1-minimal-notebook.yaml

[2022-08-16 11:40] MichaelTiemannOSC commented on #1918
I have a new theory: if the jupyterhub spawner is "cold" (if I'm the first person to wake it up for the day), it may actually take until somebody else starts a notebook before the container size appears.  When I did a cold start this morning, I started the default (2GB) notebook, shut it down immediately after it successfully spawned, then I went back to the hub to start again.  I could see the co

[2022-08-16 16:06] sesheta commented on #1997
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-17 19:07] sesheta commented on #1992
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-18 12:10] SamoKopecky commented on #604
/label kind/documentation

[2022-08-18 12:10] SamoKopecky commented on #604
/kind documentation

[2022-08-18 12:17] SamoKopecky commented on #1531
/remove-lifecycle stale

Can this issue be closed @4n4nd, the operators are installed.

[2022-08-18 12:19] SamoKopecky commented on #1652
/remove-lifecycle rotten

[2022-08-18 12:22] SamoKopecky commented on #1840
/remove-lifecycle stale

[2022-08-18 12:29] SamoKopecky commented on #1844
/remove-lifecycle stale

[2022-08-18 12:35] SamoKopecky commented on #1849
/remove-lifecycle stale

@HumairAK Are we still going with this or are making quotas and groups a per-cluster thing?

[2022-08-18 12:39] SamoKopecky commented on #1952
/remove-lifecycle stale

`odh-message-bus-kafka-3` is not crashing, but the app is still out of sync.

[2022-08-18 12:43] SamoKopecky commented on #1956
/remove-lifecycle stale

@HumairAK Are we still waiting for the DNS names to be decided?

[2022-08-18 12:45] SamoKopecky commented on #1997
/remove-lifecycle stale

Waiting on #1844 to be closed.

[2022-08-18 12:48] SamoKopecky commented on #1992
/remove-lifecycle stale

@HumairAK It seems to me the documentation for Vault is complete, can we close this?

[2022-08-18 12:51] SamoKopecky commented on #1964
/remove-lifecycle stale

[2022-08-18 13:20] SamoKopecky commented on #1766
/remove-lifecycle rotten

[2022-08-18 13:34] SamoKopecky commented on #1905
@MichaelTiemannOSC is this still an issue?

[2022-08-22 09:59] SamoKopecky commented on #1766
@carlosGimeno Is this issue still valid?

If it is, is this a valid suggestion @HumairAK?

[2022-08-22 10:01] SamoKopecky commented on #1844
@larsks @HumairAK Have we decided on the next step here?

[2022-08-22 10:04] SamoKopecky commented on #1953
@HumairAK Are we still planing to work on this?

[2022-08-22 10:07] SamoKopecky commented on #1964
@dystewart Are we still planing to work this?

[2022-08-22 16:12] Gregory-Pereira opened #2270 "[EPIC] Replicate NERC ACM-based monitoring Stack in Operate-first"
A priority for operate-first is to make our alerting, logging and monitoring stack easier to manage, and so we have decided to replicate what NERC has for their logging and monitoring stack in operate-first. The objectives are as follows:
- [x] upgrade infra cluster to 4.9 --> 4.10  [@Gregory-Pereira ]
- [x] upgrade RHACM to 2.5.1 [@Gregory-Pereira]
- [ ] Setup Storage on infra-cluster [@tumido]
-

[2022-08-23 07:36] durandom opened #2350 "Onboard jerry"
jerry is a new cluster at IONOS
the deployment was done via https://github.com/operate-first/ionos-openshift/tree/main/terraform-ocp

now following https://www.operate-first.cloud/apps/content/notebooks/onboarding_new_cluster.html

the completion of this issue should also result in completion of https://github.com/operate-first/support/issues/740

- [x] https://github.com/operate-first/apps/pull/2

[2022-08-23 18:48] HumairAK opened #2278 "Fybrik CRDs preventing Smaug Cluster-Resources app from syncing successfully"
ArgoCD App: https://argocd.operate-first.cloud/applications/cluster-resources-smaug?resource=sync%3AOutOfSync&operation=true

Example sync error for resources:
CustomResourceDefinition.apiextensions.k8s.io "plotters.app.fybrik.io" is invalid: status.storedVersions[0]: Invalid value: "v1alpha1": must appear in spec.versions

It is complaining about: https://github.com/operate-first/apps/blob/master

[2022-08-24 12:37] durandom commented on #2278
@roytman I think this probably a validation of the fybrik CRDs. Do you have an idea what's going on here?

[2022-08-24 12:46] durandom commented on #2278
@mimotej I ran your script

[code]

Can you explain these errors?

[2022-08-24 12:58] roytman commented on #2278
Checking

[2022-08-24 13:15] roytman commented on #2278
The error is not clear to me

I was under the impression that K8s sets the values into the `CustomResourceDefinitionStatus.storedVersions`
Furthermore, the K8s [spec](https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1/#CustomResourceDefinitionStatus) explicitly mentions that "The field is mutable"

[2022-08-24 14:27] mimotej commented on #2278
@durandom

Ran that locally and everything passed. I don't see here following warning?
[code]
If not you are propably using old version of the script. Old version is not using `--ignore-missing-schemas` flag which outputs warning mentioned above and ignores CRDs that don't have valid schema in the schema store. That is why there are these error because it can't find CRDs for these resource - they

[2022-08-24 14:57] cooktheryan opened #2283 "Create project in Smaug for cooktheryan for KCP automation"

[2022-08-24 15:06] roytman commented on #2278
I think, the error is happened because in the past we supported the `v1alpha1` version, and now we moved to `v1beta1`. We do not support `v1alpha1` anymore, and it is not in the `spec.versions`, but K8s contains the old `v1alpha1` instances.

Is it possible to uninstall fybrik CRDs and install again with the new version only.

[2022-08-24 15:15] #2283 closed

[2022-08-24 17:08] HumairAK commented on #2278
deleting and resyncing fixed the issue, thanks @roytman

[2022-08-24 17:08] #2278 closed

[2022-08-24 17:15] Gregory-Pereira opened #2288 "Operate-first prow / CI issues from `kubeval` check"
Prow has been slow recently, and a few PRs are being blocked due to their kubeval check failing [see example](https://github.com/operate-first/apps/pull/2284). My theory is these performance issues are related to that kubeval check itself, in that it is not currently checking the diff, but the entire repo as you can see in [that check example log](https://s3-rook-openshift-storage.apps.morty.emea.

[2022-08-24 17:41] Gregory-Pereira commented on #2288
There was a similar issue with precommit a while back. Not sure if this solution is repeatable here but sharing it for reference:
https://github.com/thoth-station/prescriptions/pull/27401/files.
https://github.com/thoth-station/prescriptions-refresh-job/issues/52#issuecomment-1217942813

[2022-08-24 17:56] Gregory-Pereira commented on #2288
So it turns out it is checking for a diff as seen (here)[https://github.com/operate-first/toolbox/blob/master/scripts/test-kubeval-validation#L8-L12]. However running that against (my example pr)[https://github.com/operate-first/apps/pull/2284] produces this:
[code]
As you can see, it returns the entire cluster-scope directory as the resulting diff, instead of the one file: `cluster-scope/base/ope

[2022-08-25 06:29] mimotej opened #2294 "CI checks are run on on yaml manifests that are not part of cluster"
In following [PR](https://github.com/operate-first/apps/pull/2289) there was a change in `.prow.yaml` which should not trigger `kustomize-build` and `kubeval-validation` jobs. These jobs were triggered and it let to failure of these tests. We should try to address that.

**Acceptance criteria**
- [ ] `kustomize-build` and `kubeval-validation` are not triggered when changing files which are not par

[2022-08-25 06:35] mimotej commented on #2288
For now seems that upping resources fo kubeval is enough will have to investigate further why. It seems from short testing I have done it has a problem finding `PULL_BASE_SHA` but I will have to investigate further what might have caused it...

/assign

[2022-08-25 08:01] durandom commented on #2278
Is this some checkbox in argocd? Is this something we should add to a argocd runbook?

[2022-08-25 13:59] HumairAK commented on #2278
@durandom no, I manually deleted the resources and re created them with argocd -- as far as I understand it, this is not an issue on our end. This seems like a very niche case, but in the future we can try doing `replace` update in argocd, this a checkbox that appears when you click `sync` :

![image](https://user-images.githubusercontent.com/10904967/186685097-c46d9324-4157-4381-a92d-319d7629d65b

[2022-08-25 14:13] mimotej commented on #2288
Little update:
Problem seems to be in regex which is used after because what it does it matches highest layer in directory path meaning in this case `cluster-scope`
![Screenshot from 2022-08-25 16-06-25](https://user-images.githubusercontent.com/47832967/186688334-44945b1e-0aca-44db-b42f-b15952b7d9b4.png)

If we figure out how to change this regex to match lowest possible layer in directory path i

[2022-08-25 14:20] HumairAK opened #2298 "[Discussion] Revisiting Alerting/Esclation on Operate First Cloud"
As per our recent discussions we would like to revisit our alerting stack, and identify gaps or areas of improvement.

## Current State

* We continue to have [github alertreceiver](https://argocd.operate-first.cloud/applications?proj=&sync=&health=&namespace=&cluster=&labels=&search=alert) deployed on _some_ of the clusters:
  * morty
  * smaug
  * infra
But currently it is not forwarding any ale

[2022-08-25 14:20] HumairAK opened #2472 "[Discussion] Revisiting Alerting/Escalation on Operate First Cloud"
As per our recent discussions we would like to revisit our alerting stack, and identify gaps or areas of improvement.

## Current State

* We continue to have [github alertreceiver](https://argocd.operate-first.cloud/applications?proj=&sync=&health=&namespace=&cluster=&labels=&search=alert) deployed on _some_ of the clusters:
  * morty
  * smaug
  * infra
But currently it is not forwarding any ale

[2022-08-25 14:51] tumido commented on #2288
Which is the correct outcome. Kubeval can't be run against partial manifests in base/overlays... Keep in mind that we modify and patch those manifests in overlays so for example subscription which requires a `channel` to be specified gains the value in overlay, etc.

The grep command is matching the root application folder intentionally because so far we don't have any heuristic to determine which

[2022-08-25 16:24] HumairAK commented on #2298
team, please look this over and add your thoughts

[2022-08-25 18:42] HumairAK commented on #1766
I think this doc is a bit too outdated, and not sure if it's worth trying to reconcile it. I also don't think anyone looks at it. I vote we remove this for now until we get a chance to properly assess the state of the docs and how we want to move forward with it.

[2022-08-25 20:03] schwesig commented on #2298
/kind feature
/kind documentation
/area monitoring

[2022-08-25 20:22] HumairAK opened #2305 "Smaug cluster-scope app in argocd not syncing kvm rbac"
In argocd for [this](https://argocd.operate-first.cloud/applications/cluster-resources-smaug?resource=sync%3AOutOfSync&operation=false&node=argoproj.io%2FApplication%2Fargocd%2Fcluster-resources-smaug%2F0&tab=diff) app we see:

![image](https://user-images.githubusercontent.com/10904967/186760236-b16099be-a0d3-4d61-9b5d-42bf76459555.png)

But in the cluster we see:
[code]
So it's reporting this in

[2022-08-25 20:22] HumairAK opened #2471 "Smaug cluster-scope app in argocd not syncing kvm rbac"
In argocd for [this](https://argocd.operate-first.cloud/applications/cluster-resources-smaug?resource=sync%3AOutOfSync&operation=false&node=argoproj.io%2FApplication%2Fargocd%2Fcluster-resources-smaug%2F0&tab=diff) app we see:

![image](https://user-images.githubusercontent.com/10904967/186760236-b16099be-a0d3-4d61-9b5d-42bf76459555.png)

But in the cluster we see:
[code]
So it's reporting this in

[2022-08-26 08:16] #2305 closed

[2022-08-26 08:16] #2471 closed

[2022-08-27 17:50] Gregory-Pereira opened #2314 "Moving some workloads (Prow) to Jerry to create Multi-cluster Deployment"
In one of our recent Operate-First office hours we discussed moving some workloads to the new Jerry cluster. The requirement for these workloads is that they shouldn't be things touched by users, can run anywhere in the background, and be owned by Operate-First. As a result, Prow, with its recent ownership transfer to Operate-First, was identified as a candidate. The problem is we do not want tear

[2022-08-27 17:50] Gregory-Pereira opened #2470 "Moving some workloads (Prow) to Jerry to create Multi-cluster Deployment"
In one of our recent Operate-First office hours we discussed moving some workloads to the new Jerry cluster. The requirement for these workloads is that they shouldn't be things touched by users, can run anywhere in the background, and be owned by Operate-First. As a result, Prow, with its recent ownership transfer to Operate-First, was identified as a candidate. The problem is we do not want tear

[2022-08-27 18:47] Gregory-Pereira opened #2315 "[BUG or Flake] Cannot Access Vault"
# Issue summary

I was following the steps documented [here](https://www.operate-first.cloud/apps/content/vault_eso/add_external_secrets_to_ns.html), specifically checking if the correct role to access
 had been given to enable the namespace (opf-observatorium) to fetch secrets from vault. That being said, when attempting to authenticate through the vault UI I tried multiple methods of authenitcat

[2022-08-27 18:47] Gregory-Pereira opened #2469 "[BUG or Flake] Cannot Access Vault"
# Issue summary

I was following the steps documented [here](https://www.operate-first.cloud/apps/content/vault_eso/add_external_secrets_to_ns.html), specifically checking if the correct role to access
 had been given to enable the namespace (opf-observatorium) to fetch secrets from vault. That being said, when attempting to authenticate through the vault UI I tried multiple methods of authenitcat

[2022-08-28 18:31] Gregory-Pereira opened #2316 "MOC Infra Web terminal failure"
After MOC-Infra upgrade some deployments are failing. One example of this is the web-terminal, specifically the 'devworkspace-controller` pod in the `openshift operators` namespace. Its continually crashlooping; I pulled this from the error logs: ```{"level":"error","ts":1661711251.0421686,"logger":"cmd","msg":"","error":"no matches for kind \"MutatingWebhookConfiguration\" in version \"admissionr

[2022-08-28 18:31] Gregory-Pereira opened #2468 "MOC Infra Web terminal failure"
After MOC-Infra upgrade some deployments are failing. One example of this is the web-terminal, specifically the 'devworkspace-controller` pod in the `openshift operators` namespace. Its continually crashlooping; I pulled this from the error logs: ```{"level":"error","ts":1661711251.0421686,"logger":"cmd","msg":"","error":"no matches for kind \"MutatingWebhookConfiguration\" in version \"admissionr

[2022-08-28 18:31] Gregory-Pereira commented on #2316
/cc @tumido

[2022-08-28 18:35] Gregory-Pereira commented on #2316
Seems this API version does not exist on infra:
[code]
We should expect to see both API versions listed:
[code]

[2022-08-28 19:42] Gregory-Pereira commented on #1665
@HumairAK is this issue related to documenting the process of creating a support ticket for cluster issues still valid? If so I am happy to pick it up, just not sure what to really document, seeing as we simply navigate to https://access.redhat.com/support/cases/ and open a case ... Thoughts on this? If this is not still and issue I can close this.

[2022-08-28 22:26] Gregory-Pereira opened #2318 "Prow Fails to independently trigger all tests against PRs"
For PRs such as #2273 , or #2123 , Prow can identify test but not trigger them. I found reference to this in the logs that with the `/retest` the `hook` component does in fact know that the tests exists, but  simply cannot trigger them:

[code]

However tests can be added by triggering them directly on the PR as is the case [here](https://github.com/operate-first/apps/pull/2273#issuecomment-122956

[2022-08-28 22:26] Gregory-Pereira opened #2467 "Prow Fails to independently trigger all tests against PRs"
For PRs such as operate-first/apps#2273 , or operate-first/apps#2123 , Prow can identify test but not trigger them. I found reference to this in the logs that with the `/retest` the `hook` component does in fact know that the tests exists, but  simply cannot trigger them:

[code]

However tests can be added by triggering them directly on the PR as is the case [here](https://github.com/operate-firs

[2022-08-29 03:29] traytorous commented on #2249
a pull request was created https://github.com/operate-first/apps/pull/2319. I will wait for a review of the documenation so that I can make further edits.

[2022-08-29 06:28] mimotej commented on #2318
I think this is expected behaviour. [kustomize-build](https://github.com/operate-first/apps/blob/master/.prow.yaml#L5) and [kubeval-validation](https://github.com/operate-first/apps/blob/master/.prow.yaml#L24) have configured `run_if_changed` to files ending with `yaml`. First PR has only changes in `.md` and `.yml` files, second one has the same. I don't think there is a way how prow can find out

[2022-08-29 08:23] schwesig commented on #2298
Looks good to me so far. I have nothing to add yet.

[2022-08-29 14:15] tumido commented on #2316
I think this is due to missed upgrade window on the operator available upgrade path. We're attempting upgrade from 1.1.1 to 1.5.1 after all... In these cases there's no harm in simply deleting the subscription resource and recreating it. It will pull the latest CSV and run from there. There's no running web terminal at this point so it causes no outage on the cluster. It seems the problem has reso

[2022-08-29 14:15] #2316 closed

[2022-08-29 14:15] #2468 closed

[2022-08-29 14:16] HumairAK opened #2322 "fybrik-osc-cl2 argocd app attempting to deploy namespace (not allowed)"
The argocd app `fybrik-osc-cl2` is deploying via a helm chart, more info here:

https://argocd.operate-first.cloud/applications/fybrik-osc-cl2?resource=sync%3AOutOfSync&operation=false

The helm chart deploys a namespace, this project is not permitted to deploy this (thus the sync is failing). Ideally the helm chart should give an option to not deploy this namespace via some parameter. If it alrea

[2022-08-29 14:16] HumairAK opened #2466 "fybrik-osc-cl2 argocd app attempting to deploy namespace (not allowed)"
The argocd app `fybrik-osc-cl2` is deploying via a helm chart, more info here:

https://argocd.operate-first.cloud/applications/fybrik-osc-cl2?resource=sync%3AOutOfSync&operation=false

The helm chart deploys a namespace, this project is not permitted to deploy this (thus the sync is failing). Ideally the helm chart should give an option to not deploy this namespace via some parameter. If it alrea

[2022-08-29 14:17] HumairAK commented on #2322
@Mohammad-nassar10 if you get a chance ^

[2022-08-29 14:57] Gregory-Pereira opened #2323 "[Spike] ACM MCO Alerting"
One objective we have in Operate-first is to revamp the Alerting / Monitoring stack based on what NERC has achieved. I have done some research into how ACM MCO supports alerting.

In terms of what MCO supports as its alerting implementation of choice, it is prometheus AlertManager, which is deployed by the observability services and enables alerts to be forwarded with third-party applications.
  -

[2022-08-29 14:57] Gregory-Pereira opened #2465 "[Spike] ACM MCO Alerting"
One objective we have in Operate-first is to revamp the Alerting / Monitoring stack based on what NERC has achieved. I have done some research into how ACM MCO supports alerting.

In terms of what MCO supports as its alerting implementation of choice, it is prometheus AlertManager, which is deployed by the observability services and enables alerts to be forwarded with third-party applications.
  -

[2022-08-29 15:23] schwesig commented on #2298
- Alert notifications github vs slack
  - github main method if someone prefers slack we can setup bridge between slack and github

[2022-08-29 15:31] tumido commented on #2323
ACM MCO features some default alerts, found here: https://github.com/stolostron/multicluster-observability-operator/search?q=prometheusrule

[2022-08-29 17:19] schwesig commented on #2298
connects to https://github.com/operate-first/apps/issues/2323

[2022-08-29 17:23] HumairAK commented on #2298
Initiatl action items:

- [ ] source alerting rule for all clusters (excluding osc) from singular resource
- [ ] Re-enable alert receivers for all clusters that have it deployed

[2022-08-29 19:05] Gregory-Pereira commented on #2314
With regard to the follow up idea, there was [an issue](https://github.com/operate-first/support/issues/374) created for this a while ago, it might be time to pick this up again.

[2022-08-30 06:34] durandom commented on #2298
@HumairAK with MCO (multi cluster observability) deployed, wouldn't we have a single alertemanager anyways? I.e. wouldtn those tasks be obsolete then?

[2022-08-30 07:31] durandom commented on #2323
Are there any default alerts that ship with MCO or OpenShift?

[2022-08-30 07:39] durandom commented on #2323
I only see this

* https://github.com/stolostron/multicluster-observability-operator/blob/main/operators/multiclusterobservability/manifests/base/alertmanager/alert_rules.yaml
* https://github.com/stolostron/multicluster-observability-operator/blob/main/operators/endpointmetrics/manifests/prometheus/prometheusrules/kubernetes-monitoring-alertingrules.yaml

[2022-08-30 11:43] SamoKopecky commented on #1766
I agree with that, going to create a PR to remove it.

[2022-08-30 13:52] HumairAK commented on #2298
If that's the case then we should clean up alertmanager github receiver resources on other clusters and prep a pr for having it deployed once on infra cluster

[2022-08-30 13:55] #1531 closed

[2022-08-30 16:03] Gregory-Pereira opened #2337 "Onboard ACM MCO to Operate-First `Infra` cluster"

[2022-08-30 16:03] Gregory-Pereira opened #2464 "Onboard ACM MCO to Operate-First `Infra` cluster"
Action items:
- [x] create namespace `open-cluster-management-observability`
- [x] enable external secrets in said namespace
- [x] Generate pull-secret. Create an external secret in git for it and reference it.
- [x] create secret for object storage.  Create an external secret in git for it and reference it.
- [x] verify the observability api-version exists
    - done:
[code]
- [x] create multiClu

[2022-08-31 09:46] #1766 closed

[2022-08-31 10:35] VannTen commented on #2318
Could we also be hitting this in https://github.com/thoth-station/slo-reporter/pull/361 ?

[2022-08-31 12:59] #2322 closed

[2022-08-31 12:59] #2466 closed, assigned to Mohammad-nassar10

[2022-08-31 16:21] Gregory-Pereira opened #2352 "Replace the Trino Morty catalog with a catalog backed by a smaug bucket"
Issue encountered in the process of offboarding the Morty cluster. For more information, refer to the [issue comment](https://github.com/operate-first/apps/pull/2341#discussion_r959672436) itself.

/assign

[2022-08-31 16:21] Gregory-Pereira opened #2463 "Replace the Trino Morty catalog with a catalog backed by a smaug bucket"
Issue encountered in the process of offboarding the Morty cluster. For more information, refer to the [issue comment](https://github.com/operate-first/apps/pull/2341#discussion_r959672436) itself.

/assign

[2022-08-31 16:39] Gregory-Pereira commented on #2352
docs on how to do this found [here](https://www.operate-first.cloud/apps/content/odh/trino/add_more_buckets.html)

[2022-08-31 22:39] Gregory-Pereira commented on #2314
Tom brought up the point of looking into dynamic job scheduling algorithms like round-robin, rather than declaratively stating which cluster a job should run in as prow documentation states. I have reached out to the wonderful k8s team in their slack channel: https://kubernetes.slack.com/archives/CDECRSC5U/p1661985487044919. Hopefully they should provide more clarity on this.

[2022-08-31 23:42] Gregory-Pereira commented on #2298
I am currently reaching out in the Red Hat slack channels to attempt to get some suggestions on which alerts work for other organizations. I have already [reached out](https://redhat.slack.com/archives/CT3EW1Q2V/p1661988735199139) in the `#sd-sre-platform` chat and I was wondering what we think are some other good channels for me to bring this question up in?:
- `#openshift-consulting`
- `#cloud-p

[2022-09-01 13:13] durandom commented on #1876
@traytorous is https://github.com/operate-first/apps/pull/2211 part of this issue?

[2022-09-01 13:58] traytorous commented on #1876
@durandom Yes :)

[2022-09-01 16:41] Gregory-Pereira commented on #1876
bump @carlosGimeno, we are about to deploy stackrox on smaug in the PR Marcel linked (#2211) as well as the argocd changes #2203 . If any work went into these two actions items (see below), it would be nice to add it soon

[2022-09-01 17:02] traytorous commented on #1876
@durandom Carlos doesn't work here anymore. I took over the project. I'll update the check list accordingly

[2022-09-02 13:54] VannTen opened #2366 "Enable tekton/openshift pipelines prow integration"
Prow apparently has the capacity to use tetkon pipelines as ProwJob (
see
https://pkg.go.dev/k8s.io/test-infra/prow/config#JobBase (PipelinRunSpec)
https://github.com/kubernetes/test-infra/issues/13874
)

What can we do to enable that support ?

This would allow Apps developper to have composable CI pipelines, with reusable
Task notably.

(Prompted by #2320, https://github.com/operate-first/apps/p

[2022-09-02 13:54] VannTen opened #2462 "Enable tekton/openshift pipelines prow integration"
Prow apparently has the capacity to use tetkon pipelines as ProwJob (
see
https://pkg.go.dev/k8s.io/test-infra/prow/config#JobBase (PipelinRunSpec)
https://github.com/kubernetes/test-infra/issues/13874
)

What can we do to enable that support ?

This would allow Apps developper to have composable CI pipelines, with reusable
Task notably.

(Prompted by operate-first/apps#2320, https://github.com/op

[2022-09-02 16:24] Gregory-Pereira commented on #2366
/assign
I will help you look into this.

[2022-09-02 20:42] MichaelTiemannOSC opened #2370 "add oef_openclimate catalog to Trino"
The Open Earth Foundation's Open Climate project includes a PostgreSQL database with data content that would be useful to OS-Climate: https://collabathon-docs.openclimate.earth/openclimate/about-the-platform

The following people at Open Earth Foundation should be able to provide endpoint information and access to the Op1st team: @yeozy95 @evanp.  Both are presently members of the OS-Climate GitHu

[2022-09-02 20:42] MichaelTiemannOSC opened #2461 "add oef_openclimate catalog to Trino"
The Open Earth Foundation's Open Climate project includes a PostgreSQL database with data content that would be useful to OS-Climate: https://collabathon-docs.openclimate.earth/openclimate/about-the-platform

The following people at Open Earth Foundation should be able to provide endpoint information and access to the Op1st team: @yeozy95 @evanp.  Both are presently members of the OS-Climate GitHu

[2022-09-02 20:47] evanp commented on #2370
👋🏼

[2022-09-02 20:48] erikerlandson commented on #2370
Basically, we'll need to follow these instructions:
https://trino.io/docs/current/connector/postgresql.html

[2022-09-02 20:58] erikerlandson commented on #2370
A baseline catalog configuration will look like this:
[code]

Where we will store the key `OPEN_CLIMATE_DB_PASSWORD` in the operate-first Vault deployment.  We have a standard key space for trino `k8s_secrets/show/osc/osc-cl2/odh-trino/trino-secret-env`  which is synced to a corresponding secret over on the CL2 openshift cluster.   If Open Earth foundation wants, we can give you access to Vault so

[2022-09-02 21:02] erikerlandson commented on #2370
Example pull requests:
- https://github.com/operate-first/apps/pull/2313  (define new catalog)
- https://github.com/operate-first/odh-manifests/pull/37  (inject password secret to coordinator and workers)

[2022-09-02 22:41] Gregory-Pereira commented on #2288
Then this seems to be logical and intended behaviour. I think this explanation coupled with your [PR to exclude some pre-submit checks based on the files changed](https://github.com/operate-first/apps/pull/2321) should resolve this issue. Would you agree @tumido, and if so can I close this?

[2022-09-03 00:59] Gregory-Pereira opened #2372 "INCIDENT: Prow currently down"
All prow jobs are currently failing with a 503 internal server error. It pipes a hexdump to the logs (see logs below).
[prow.log](https://github.com/operate-first/apps/files/9481590/prow.log)

It just spits out a fat hex dump... More info to come.

/assign
/cc @harshad16

[2022-09-03 00:59] Gregory-Pereira opened #2460 "INCIDENT: Prow currently down"
All prow jobs are currently failing with a 503 internal server error. It pipes a hexdump to the logs (see logs below).
[prow.log](https://github.com/operate-first/apps/files/9481590/prow.log)

It just spits out a fat hex dump... More info to come.

/assign
/cc @harshad16